In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import datetime
from sklearn.preprocessing import  StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import xgboost
from sklearn.ensemble import RandomForestClassifier

C:\Users\kaust\Anaconda3\lib\site-packages\dask\dataframe\utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\kaust\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [769]:
payhistory=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\payhistory.sas7bdat",encoding="latin-1")
payhistory

               PID      PDATE    PAMT EXTRELNO PAYTYPECD STATUS
0             38.0 1993-12-31    9.57  0000019         X     CO
1             39.0 1993-12-31   41.32  0000020         X     CO
2             40.0 1993-12-31   13.10  0000020         X     CO
3          54091.0 1994-01-01    2.02  0000020         X     CO
4         104480.0 1994-05-19    0.50  0000020         D     OK
5         128703.0 1994-06-14    0.50  0000020         D     OK
6         151581.0 1994-07-05    0.50  0000020         D     OK
7         182688.0 1994-08-15    0.50  0000020         D     OK
8         210468.0 1994-09-23    0.50  0000020         D     OK
9         235968.0 1994-10-21    0.50  0000020         D     OK
10        260889.0 1994-11-09    0.50  0000020         D     OK
11        288645.0 1994-12-12   20.33  0000020         D     OK
12        319862.0 1995-01-11   20.33  0000020         D     OK
13        350421.0 1995-02-09   20.33  0000020         D     OK
14        382076.0 1995-03-14   20.33  0000020         D     OK
15        411681.0 1995-04-07   20.33  0000020         D     OK
16        444637.0 1995-05-15   20.33  0000020         D     OK
17        475189.0 1995-06-13   20.33  0000020         D     OK
18        505307.0 1995-07-07   20.33  0000020         D     OK
19        535866.0 1995-08-04   20.33  0000020         D     OK
20        568233.0 1995-09-06   20.33  0000020         D     OK
21        601034.0 1995-10-09   20.33  0000020         D     OK
22        633266.0 1995-11-07   20.33  0000020         D     OK
23        667346.0 1995-12-13   20.33  0000020         D     OK
24        700530.0 1996-01-12   20.33  0000020         D     OK
25        732446.0 1996-02-07   20.33  0000020         D     OK
26        765535.0 1996-03-07   20.33  0000020         D     OK
27        800026.0 1996-04-13   20.33  0000020         D     OK
28        831914.0 1996-05-09   20.33  0000020         D     OK
29        864491.0 1996-06-07   20.33  0000020         D     OK
...            ...        ...     ...      ...       ...    ...
1205690  5078363.0 2007-01-10   30.00  0244460         E     OK
1205691  5073433.0 2006-12-28   30.00  0244461         E     OK
1205692  5079718.0 2007-01-16   25.00  0244468         E     OK
1205693  5076107.0 2007-01-03   25.00  0244486         E     OK
1205694  5101511.0 2007-01-17   25.00  0244514         D     OK
1205695  5101513.0 2007-01-17   25.00  0244523         D     OK
1205696  5074733.0 2007-01-02   30.00  0244530         E     OK
1205697  5101515.0 2007-01-17  300.00  0244532         D     OK
1205698  5078207.0 2007-01-09   25.00  0244537         E     OK
1205699  5101896.0 2007-01-23   25.00  0244548         E     OK
1205700  5074768.0 2007-01-02   30.00  0244569         E     OK
1205701  5078719.0 2007-01-11   30.00  0244577         E     OK
1205702  5078166.0 2007-01-09   25.00  0244585         E     OK
1205703  5073823.0 2006-12-29   25.00  0244586         E     OK
1205704  5077534.0 2007-01-08   25.00  0244589         E     OK
1205705  5076579.0 2007-01-04   25.00  0244625         E     OK
1205706  5076968.0 2007-01-05   25.00  0244631         E     OK
1205707  5079144.0 2007-01-12   30.00  0244632         E     OK
1205708  5073817.0 2006-12-29   25.00  0244638         E     OK
1205709  5079395.0 2007-01-15   25.00  0244646         E     OK
1205710  5079642.0 2007-01-16  300.00  0244660         E     OK
1205711  5075134.0 2007-01-02   25.00  0244677         E     OK
1205712  5077696.0 2007-01-08   25.00  0244678         E     OK
1205713  5077752.0 2007-01-08   25.00  0244715         E     OK
1205714  5074786.0 2007-01-02   30.00  0244728         E     OK
1205715  5101634.0 2007-01-18   25.00  0244735         E     OK
1205716  5079709.0 2007-01-16   30.00  0244827         E     OK
1205717  5079175.0 2007-01-12   25.00  0244830         E     OK
1205718  5101638.0 2007-01-18   25.00  0244853         E     OK
1205719  5079349.0 2007-01-15   27.00  0244875         E     OK

[1205720 rows x 6 columns]

In [770]:
comclas=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\comclas.sas7bdat",encoding="latin-1")
comclas

  CLASCODE                 CLASDESC
0       CT                 CTS-item
1       RI  Request for information
2       CM                Complaint
3       TA     Threath / Accusation
4       AK          Acknowledgement
5       RM                 Reminder
6       ID     Information delivery
7       AN                   Answer

In [771]:
commaint=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\commaint.sas7bdat",encoding="latin-1")
commaint

   MNTOPCODE                        MNTOPDESC
0        CAN       Cancellations/replacements
1        DIS                 Discontinuations
2        MKT            Marketing - Enquiries
3        GEN                          General
4        NEW                    New relations
5        PRO                         Projects
6        MFC    Mail met FC, klachten en info
7        SPC                    Special Forms
8        INF           information about Plan
9        ENR                       Enrollment
10       CAT                     Catastrophes
11       MER                    Merchandising
12       REP                          Reports
13       COR             Correspondence FP/FC
14       IFF          Information about FF/FC
15       VIS                           Visits
16       IRE   Change in information Relation
17       FIC              Fiscal certificates
18       ARR                          Arrears
19       FIN                          Finance
20       VOL                       Volunteers
21       CTS    Communication Tracking System
22       SPO          Contacts for sponsoring
23       PRA      Public Relations activities
24       ALL                          General
25       TVS                          TV-Show
26       TAX                        Tax forms
27       TLT                      Translation
28       ACT                           Action
29       WEB  Web related Actions: E-commerce

In [772]:
commediu=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\commediu.sas7bdat",encoding="latin-1")
commediu

   MEDIUMCODE                     MEDIUMDESC
0          FF           Face to Face contact
1          FX                            Fax
2          TX                          Telex
3          EM                Electronic Mail
4          TE                 Telephone call
5          ES                   Express mail
6          AM              Answering machine
7          RM  Regular mail (CTS-items only)
8          AF               Application form
9          LE                        Letters
10         ME                           Memo
11         CA         Change of address card
12         AC           Advertisement coupon
13         MR                  Mail returned
14         NA              Newspaper article
15         TM                     Translator

In [773]:
extrelty=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\extrelty.sas7bdat",encoding="latin-1")
extrelty

   EXRELACTCD    EXRELACTDE
0          FP  CommitmentDo
1          PS      Prospect
2          PF  Prosp Fundra
3          PP  Prosp Promot
4          GR       Grantor
5          CT   Contributor
6          FR        Friend
7          AP  Active Press
8          SP      Supplier
9          TR    Translator
10         FN           Fan
11         **  *No Relation
12         MG  Mbr FP group
13         IV  Volun Intern
14         RV  VoluntRegion
15         PV  Volunt Prosp
16         BM  Board Member
17         CP  ConfirmProsp
18         PM      Promotor
19         PT  Prosp Transl
20         OR  Organization
21         PO   Plan Office
22         OI    Offic Inst
23         JS  Job sollicit
24         MR    Mag Reader
25         PC   Prosp Contr

In [774]:
nameaddr=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\nameaddr.sas7bdat",encoding="latin-1")
nameaddr

      EXTRELNO NAME1TITLE POSTCODE LANGUACODE
0      0000019         HR     2500         NL
1      0000020         HR     9550         NL
2      0000035         HM     2150         NL
3      0000042         FA     3012         NL
4      0000043         MW     3000         NL
5      0000047         HM     3360         NL
6      0000060         FA     3600         NL
7      0000072         MW     9000         NL
8      0000081         MW     8902         NL
9      0000089         FA     3600         NL
10     0000091         MW     9140         NL
11     0000093         FA     2100         NL
12     0000100         MW     1150         NL
13     0000104         MW     3600         NL
14     0000105         MW     1850         NL
15     0000109         HR     2270         NL
16     0000113         FA     2950         NL
17     0000114         HM     2840         NL
18     0000115         FA     3920         NL
19     0000120         HR     9470         NL
20     0000131         MW     9950         NL
21     0000133         FA     2970         NL
22     0000137         HM     2323         NL
23     0000148         MW     9030         NL
24     0000149        NaN     2940         NL
25     0000156         HM     2050         NL
26     0000157         HR     9000         NL
27     0000159         FA     8870         NL
28     0000165         HM     3001         NL
29     0000169         HM     2640         NL
...        ...        ...      ...        ...
24156  0244827         MW     2660         NL
24157  0244830         MW     8510         NL
24158  0244834         HR     9280         NL
24159  0244839         MW     9000         NL
24160  0244851         HM     8370         NL
24161  0244853         FA     9881         NL
24162  0244871         MW     1030         FR
24163  0244874         MW     5000         FR
24164  0244875         HM     9052         NL
24165  0244880        NaN     1050         NL
24166  0244885         HR     2018         NL
24167  0244901         HR     2060         NL
24168  0244909         HM     3600         NL
24169  0244916        NaN       GB         EN
24170  0244925         HR     9120         NL
24171  0244926         JU     1000         FR
24172  0244958         MW     9988         NL
24173  0244965         MW     2100         NL
24174  0244977        NaN     9000         NL
24175  0244995        NaN     3900         NL
24176  0245000         HM     1933         NL
24177  0245006         HR     3321         NL
24178  0245012         FA     9000         NL
24179  0245020         MW     1050         NL
24180  0245021         HM     3190         NL
24181  0245025         MW     1500         NL
24182  0245029         MW     9810         NL
24183  0245032         MW     2940         NL
24184  0245046         FA     9470         NL
24185  0245048         MW     8700         NL

[24186 rows x 4 columns]

In [775]:
extrel=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\extrel.sas7bdat",encoding="latin-1")
extrel

      EXTRELNO EXRELACTCD EXTRELSTDT EXRELDATEN
0      0026414         CT 1995-02-02        NaT
1      0026419         FP 1992-03-01        NaT
2      0026424         FP 1992-03-01 1996-12-24
3      0026430         FP 1992-03-01 2006-01-31
4      0026430         CT 1997-03-07        NaT
5      0026431         FP 1992-03-01        NaT
6      0026431         CT 1999-12-01        NaT
7      0026443         FP 1992-03-01        NaT
8      0026444         FP 1992-03-01        NaT
9      0026446         FP 1992-03-01        NaT
10     0026447         FP 1992-03-01        NaT
11     0026447         CT 1995-02-02        NaT
12     0026462         FP 1992-03-01 2001-10-18
13     0026467         FP 1992-03-01 2005-01-06
14     0026470         CT 1992-03-01        NaT
15     0026470         FP 1992-03-01        NaT
16     0026472         CT 1992-03-01        NaT
17     0026472         FP 1992-03-01        NaT
18     0026473         FP 1992-03-01 1992-05-31
19     0026475         FP 1992-03-01 2002-02-22
20     0026481         FP 1992-03-01 2002-11-06
21     0026486         FP 1992-03-01        NaT
22     0026486         CT 2001-01-25        NaT
23     0026488         FP 1992-03-01 1992-11-30
24     0026489         FP 1992-03-01 2004-03-12
25     0026495         FP 1992-03-01        NaT
26     0026495         CT 1995-02-02        NaT
27     0026498         FP 1992-03-01        NaT
28     0026501         FP 1992-03-01        NaT
29     0026501         CT 2005-02-01        NaT
...        ...        ...        ...        ...
26659  0244827         FP 2007-01-01        NaT
26660  0244830         FP 2007-01-01        NaT
26661  0244834         FP 2007-01-01        NaT
26662  0244839         FP 2007-01-01        NaT
26663  0244851         FP 2007-01-01        NaT
26664  0244853         FP 2007-01-01        NaT
26665  0244871         FP 2007-01-01        NaT
26666  0244874         FP 2007-01-01        NaT
26667  0244875         FP 2007-01-01        NaT
26668  0244880         CT 2007-01-01        NaT
26669  0244885         FP 2007-01-01        NaT
26670  0244901         FP 2007-01-01        NaT
26671  0244909         FP 2007-01-01        NaT
26672  0244916         CT 2007-01-01        NaT
26673  0244925         FP 2007-01-01        NaT
26674  0244926         CT 2007-02-01        NaT
26675  0244958         PS 2007-01-17        NaT
26676  0244965         MR 2007-01-17        NaT
26677  0244977         CT 2007-02-01        NaT
26678  0244995         FP 2007-02-01        NaT
26679  0245000         CT 2007-02-01        NaT
26680  0245006         PS 2007-01-22        NaT
26681  0245012         FP 2007-02-01        NaT
26682  0245020         FP 2007-02-01        NaT
26683  0245021         FP 2007-02-01        NaT
26684  0245025         CT 2007-02-01        NaT
26685  0245029         FP 2007-02-01        NaT
26686  0245032         PS 2007-01-24        NaT
26687  0245046         FP 2007-02-01        NaT
26688  0245048         FP 2007-02-01        NaT

[26689 rows x 4 columns]

In [776]:
communication=pd.read_sas("C:\\Users\\kaust\\Desktop\\NGO case study\\communication.sas7bdat",encoding="latin-1")
communication

           CONTID MEDIUMCODE MNTOPCODE CLASCODE EXTRELNO CONTDIREC   CONTDATE
0       000405402         CI       CTS       CT  0000020         O 1994-05-09
1       000430904         CI       CTS       CT  0000020         O 1994-06-14
2       000592732         CI       CTS       CT  0000020         O 1994-10-21
3       000593375         CI       CTS       CT  0000020         O 1994-10-21
4       000618514         CI       CTS       CT  0000020         O 1994-11-28
5       000767603         LE       TAX       ID  0000020         O 1995-02-24
6       000890300         CI       CTS       CT  0000020         O 1995-05-30
7       000921255         CI       CTS       CT  0000020         O 1995-07-03
8       000992863         CI       CTS       CT  0000020         O 1995-07-10
9       001047202         CI       CTS       CT  0000020         O 1995-08-19
10      001120699         CI       CTS       CT  0000020         O 1995-10-16
11      001254317         CI       CTS       CT  0000020         O 1996-02-29
12      001370366         LE       TAX       ID  0000020         O 1996-04-05
13      001371630         LE       TAX       ID  0000020         O 1996-04-05
14      001440965         CI       CTS       CT  0000020         O 1996-05-06
15      001532236         CI       CTS       CT  0000020         O 1996-07-30
16      001703082         LE       TAX       ID  0000020         O 1997-03-04
17      001882629         CI       CTS       CT  0000020         O 1997-08-04
18      002049023         LE       CAN       AN  0000020         O 1998-02-23
19      002071451         LE       TAX       ID  0000020         O 1998-03-20
20      002114105         LE       TAX       ID  0000020         O 1998-03-24
21      002203014         CI       CTS       CT  0000020         O 1998-06-02
22      002249212         CI       CTS       CT  0000020         O 1998-08-03
23      002340772         CI       CTS       CT  0000020         O 1998-11-24
24      002422110         LE       TAX       ID  0000020         O 1999-02-09
25      002474050         CI       CTS       CT  0000020         O 1999-02-24
26      002597606         CI       CTS       CT  0000020         O 1999-07-28
27      002769295         CI       CTS       CT  0000020         O 2000-02-01
28      002782501         LE       TAX       ID  0000020         O 2000-02-12
29      003201812         LE       TAX       ID  0000020         O 2001-02-27
...           ...        ...       ...      ...      ...       ...        ...
763539  005163354         LE       ENR       AK  0244875         O 2007-01-08
763540  005163355         LE       ENR       CT  0244875         O 2007-01-08
763541  005165560         LE       PRO       AK  0244880         O 2007-01-10
763542  005163670         LE       ENR       AK  0244885         O 2007-01-09
763543  005163671         LE       ENR       CT  0244885         O 2007-01-09
763544  005164306         LE       ENR       AK  0244901         O 2007-01-10
763545  005164307         LE       ENR       CT  0244901         O 2007-01-10
763546  005165687         LE       ENR       AK  0244901         O 2007-01-11
763547  005165688         LE       ENR       CT  0244901         O 2007-01-11
763548  005165681         LE       ENR       AK  0244909         O 2007-01-11
763549  005167201         LE       ENR       AK  0244925         O 2007-01-12
763550  005167202         LE       ENR       CT  0244925         O 2007-01-12
763551  005167990         FF       PRO       RI  0244926         O 2007-01-16
763552  005169213         LE       INF       RI  0244958         O 2007-01-17
763553  005169368         LE       INF       AN  0244965         O 2007-01-17
763554  005170905         LE       ENR       AK  0244995         O 2007-01-19
763555  005170906         LE       ENR       CT  0244995         O 2007-01-19
763556  005171235         LE       INF       RI  0245006         O 2007-01-22
763557  005172346         LE       ENR       AK  0245012         O 2007-01-22
763558  005172347         LE       ENR       CT  0245012         O 2007-01-22
763559  005172936         LE       ENR       AN  0245020         O 2007-01-23
763560  005173813         LE       ENR       AN  0245021         O 2007-01-23
763561  005174631         LE       PRO       AK  0245025         O 2007-01-24
763562  005174110         LE       ENR       AK  0245029         O 2007-01-24
763563  005174111         LE       ENR       CT  0245029         O 2007-01-24
763564  005174752         LE       INF       RI  0245032         O 2007-01-24
763565  005175328         LE       ENR       AK  0245046         O 2007-01-25
763566  005175329         LE       ENR       CT  0245046         O 2007-01-25
763567  005175501         LE       ENR       AK  0245048         O 2007-01-25
763568  005175502         LE       ENR       CT  0245048         O 2007-01-25

[763569 rows x 7 columns]

In [777]:
ext=extrel.merge(extrelty,how='left')
ext_data=ext.merge(nameaddr,how='left')

In [778]:
ext_data

,EXTRELNO,EXRELACTCD,EXTRELSTDT,EXRELDATEN,EXRELACTDE,NAME1TITLE,POSTCODE,LANGUACODE
0,0026414,CT,1995-02-02,NaT,Contributor,MW,8300,NL
1,0026419,FP,1992-03-01,NaT,CommitmentDo,HM,2600,NL
2,0026424,FP,1992-03-01,1996-12-24,CommitmentDo,MW,1932,NL
3,0026430,FP,1992-03-01,2006-01-31,CommitmentDo,HM,2040,NL
4,0026430,CT,1997-03-07,NaT,Contributor,HM,2040,NL
5,0026431,FP,1992-03-01,NaT,CommitmentDo,FA,8520,NL
6,0026431,CT,1999-12-01,NaT,Contributor,FA,8520,NL
7,0026443,FP,1992-03-01,NaT,CommitmentDo,HM,1652,NL
8,0026444,FP,1992-03-01,NaT,CommitmentDo,MW,3001,NL
9,0026446,FP,1992-03-01,NaT,CommitmentDo,MW,2850,NL
10,0026447,FP,1992-03-01,NaT,CommitmentDo,HM,2860,NL
11,0026447,CT,1995-02-02,NaT,Contributor,HM,2860,NL
12,0026462,FP,1992-03-01,2001-10-18,CommitmentDo,HM,5590,FR
13,0026467,FP,1992-03-01,2005-01-06,CommitmentDo,HM,3600,NL
14,0026470,CT,1992-03-01,NaT,Contributor,HR,2600,NL
15,0026470,FP,1992-03-01,NaT,CommitmentDo,HR,2600,NL
16,0026472,CT,1992-03-01,NaT,Contributor,HM,3461,NL
17,0026472,FP,1992-03-01,NaT,CommitmentDo,HM,3461,NL
18,0026473,FP,1992-03-01,1992-05-31,CommitmentDo,MW,2160,NL
19,0026475,FP,1992-03-01,2002-02-22,CommitmentDo,HM,3150,NL
20,0026481,FP,1992-03-01,2002-11-06,CommitmentDo,HR,2950,NL
21,0026486,FP,1992-03-01,NaT,CommitmentDo,HR,3140,NL
22,0026486,CT,2001-01-25,NaT,Contributor,HR,3140,NL
23,0026488,FP,1992-03-01,1992-11-30,CommitmentDo,HR,9300,NL
24,0026489,FP,1992-03-01,2004-03-12,CommitmentDo,MW,9040,NL
25,0026495,FP,1992-03-01,NaT,CommitmentDo,HR,8511,NL
26,0026495,CT,1995-02-02,NaT,Contributor,HR,8511,NL
27,0026498,FP,1992-03-01,NaT,CommitmentDo,HM,2980,NL
28,0026501,FP,1992-03-01,NaT,CommitmentDo,HR,8210,NL
29,0026501,CT,2005-02-01,NaT,Contributor,HR,8210,NL
...,...,...,...,...,...,...,...,...
26659,0244827,FP,2007-01-01,NaT,CommitmentDo,MW,2660,NL
26660,0244830,FP,2007-01-01,NaT,CommitmentDo,MW,8510,NL
26661,0244834,FP,2007-01-01,NaT,CommitmentDo,HR,9280,NL
26662,0244839,FP,2007-01-01,NaT,CommitmentDo,MW,9000,NL
26663,0244851,FP,2007-01-01,NaT,CommitmentDo,HM,8370,NL
26664,0244853,FP,2007-01-01,NaT,CommitmentDo,FA,9881,NL
26665,0244871,FP,2007-01-01,NaT,CommitmentDo,MW,1030,FR
26666,0244874,FP,2007-01-01,NaT,CommitmentDo,MW,5000,FR
26667,0244875,FP,2007-01-01,NaT,CommitmentDo,HM,9052,NL
26668,0244880,CT,2007-01-01,NaT,Contributor,NaN,1050,NL
26669,0244885,FP,2007-01-01,NaT,CommitmentDo,HR,2018,NL
26670,0244901,FP,2007-01-01,NaT,CommitmentDo,HR,2060,NL
26671,0244909,FP,2007-01-01,NaT,CommitmentDo,HM,3600,NL
26672,0244916,CT,2007-01-01,NaT,Contributor,NaN,GB,EN
26673,0244925,FP,2007-01-01,NaT,CommitmentDo,HR,9120,NL
26674,0244926,CT,2007-02-01,NaT,Contributor,JU,1000,FR
26675,0244958,PS,2007-01-17,NaT,Prospect,MW,9988,NL
26676,0244965,MR,2007-01-17,NaT,Mag Reader,MW,2100,NL
26677,0244977,CT,2007-02-01,NaT,Contributor,NaN,9000,NL
26678,0244995,FP,2007-02-01,NaT,CommitmentDo,NaN,3900,NL
26679,0245000,CT,2007-02-01,NaT,Contributor,HM,1933,NL
26680,0245006,PS,2007-01-22,NaT,Prospect,HR,3321,NL
26681,0245012,FP,2007-02-01,NaT,CommitmentDo,FA,9000,NL
26682,0245020,FP,2007-02-01,NaT,CommitmentDo,MW,1050,NL
26683,0245021,FP,2007-02-01,NaT,CommitmentDo,HM,3190,NL
26684,0245025,CT,2007-02-01,NaT,Contributor,MW,1500,NL
26685,0245029,FP,2007-02-01,NaT,CommitmentDo,MW,9810,NL
26686,0245032,PS,2007-01-24,NaT,Prospect,MW,2940,NL
26687,0245046,FP,2007-02-01,NaT,CommitmentDo,FA,9470,NL
26688,0245048,FP,2007-02-01,NaT,CommitmentDo,MW,8700,NL

In [779]:
comm1=communication.merge(commediu,how='left')
comm2=comm1.merge(commaint,how='left')
commu_data=comm2.merge(comclas,how='left')

In [780]:
commu_data

,CONTID,MEDIUMCODE,MNTOPCODE,CLASCODE,EXTRELNO,CONTDIREC,CONTDATE,MEDIUMDESC,MNTOPDESC,CLASDESC
0,000405402,CI,CTS,CT,0000020,O,1994-05-09,NaN,Communication Tracking System,CTS-item
1,000430904,CI,CTS,CT,0000020,O,1994-06-14,NaN,Communication Tracking System,CTS-item
2,000592732,CI,CTS,CT,0000020,O,1994-10-21,NaN,Communication Tracking System,CTS-item
3,000593375,CI,CTS,CT,0000020,O,1994-10-21,NaN,Communication Tracking System,CTS-item
4,000618514,CI,CTS,CT,0000020,O,1994-11-28,NaN,Communication Tracking System,CTS-item
5,000767603,LE,TAX,ID,0000020,O,1995-02-24,Letters,Tax forms,Information delivery
6,000890300,CI,CTS,CT,0000020,O,1995-05-30,NaN,Communication Tracking System,CTS-item
7,000921255,CI,CTS,CT,0000020,O,1995-07-03,NaN,Communication Tracking System,CTS-item
8,000992863,CI,CTS,CT,0000020,O,1995-07-10,NaN,Communication Tracking System,CTS-item
9,001047202,CI,CTS,CT,0000020,O,1995-08-19,NaN,Communication Tracking System,CTS-item
10,001120699,CI,CTS,CT,0000020,O,1995-10-16,NaN,Communication Tracking System,CTS-item
11,001254317,CI,CTS,CT,0000020,O,1996-02-29,NaN,Communication Tracking System,CTS-item
12,001370366,LE,TAX,ID,0000020,O,1996-04-05,Letters,Tax forms,Information delivery
13,001371630,LE,TAX,ID,0000020,O,1996-04-05,Letters,Tax forms,Information delivery
14,001440965,CI,CTS,CT,0000020,O,1996-05-06,NaN,Communication Tracking System,CTS-item
15,001532236,CI,CTS,CT,0000020,O,1996-07-30,NaN,Communication Tracking System,CTS-item
16,001703082,LE,TAX,ID,0000020,O,1997-03-04,Letters,Tax forms,Information delivery
17,001882629,CI,CTS,CT,0000020,O,1997-08-04,NaN,Communication Tracking System,CTS-item
18,002049023,LE,CAN,AN,0000020,O,1998-02-23,Letters,Cancellations/replacements,Answer
19,002071451,LE,TAX,ID,0000020,O,1998-03-20,Letters,Tax forms,Information delivery
20,002114105,LE,TAX,ID,0000020,O,1998-03-24,Letters,Tax forms,Information delivery
21,002203014,CI,CTS,CT,0000020,O,1998-06-02,NaN,Communication Tracking System,CTS-item
22,002249212,CI,CTS,CT,0000020,O,1998-08-03,NaN,Communication Tracking System,CTS-item
23,002340772,CI,CTS,CT,0000020,O,1998-11-24,NaN,Communication Tracking System,CTS-item
24,002422110,LE,TAX,ID,0000020,O,1999-02-09,Letters,Tax forms,Information delivery
25,002474050,CI,CTS,CT,0000020,O,1999-02-24,NaN,Communication Tracking System,CTS-item
26,002597606,CI,CTS,CT,0000020,O,1999-07-28,NaN,Communication Tracking System,CTS-item
27,002769295,CI,CTS,CT,0000020,O,2000-02-01,NaN,Communication Tracking System,CTS-item
28,002782501,LE,TAX,ID,0000020,O,2000-02-12,Letters,Tax forms,Information delivery
29,003201812,LE,TAX,ID,0000020,O,2001-02-27,Letters,Tax forms,Information delivery
...,...,...,...,...,...,...,...,...,...,...
763539,005163354,LE,ENR,AK,0244875,O,2007-01-08,Letters,Enrollment,Acknowledgement
763540,005163355,LE,ENR,CT,0244875,O,2007-01-08,Letters,Enrollment,CTS-item
763541,005165560,LE,PRO,AK,0244880,O,2007-01-10,Letters,Projects,Acknowledgement
763542,005163670,LE,ENR,AK,0244885,O,2007-01-09,Letters,Enrollment,Acknowledgement
763543,005163671,LE,ENR,CT,0244885,O,2007-01-09,Letters,Enrollment,CTS-item
763544,005164306,LE,ENR,AK,0244901,O,2007-01-10,Letters,Enrollment,Acknowledgement
763545,005164307,LE,ENR,CT,0244901,O,2007-01-10,Letters,Enrollment,CTS-item
763546,005165687,LE,ENR,AK,0244901,O,2007-01-11,Letters,Enrollment,Acknowledgement
763547,005165688,LE,ENR,CT,0244901,O,2007-01-11,Letters,Enrollment,CTS-item
763548,005165681,LE,ENR,AK,0244909,O,2007-01-11,Letters,Enrollment,Acknowledgement
763549,005167201,LE,ENR,AK,0244925,O,2007-01-12,Letters,Enrollment,Acknowledgement
763550,005167202,LE,ENR,CT,0244925,O,2007-01-12,Letters,Enrollment,CTS-item
763551,005167990,FF,PRO,RI,0244926,O,2007-01-16,Face to Face contact,Projects,Request for information
763552,005169213,LE,INF,RI,0244958,O,2007-01-17,Letters,information about Plan,Request for information
763553,005169368,LE,INF,AN,0244965,O,2007-01-17,Letters,information about Plan,Answer
763554,005170905,LE,ENR,AK,0244995,O,2007-01-19,Letters,Enrollment,Acknowledgement
763555,005170906,LE,ENR,CT,0244995,O,2007-01-19,Letters,Enrollment,CTS-item
763556,005171235,LE,INF,RI,0245006,O,2007-01-22,Letters,information about Plan,Request for information
763557,005172346,LE,ENR,AK,0245012,O,2007-01-22,Letters,Enrollment,Acknowledgement
763558,005172347,LE,ENR,CT,0245012,O,2007-01-22,Letters,Enrollment,CTS-item
763559,005172936,LE,ENR,AN,0245020,O,2007-01-23,Letters,Enrollment,Answer
763560,005173813,LE,ENR,AN,0245021,O,2007-01-23,Letters,Enrollment,Answer
763561,005174631,LE,PRO,AK,0245025,O,2007-01-24,Letters,Projects,Acknowledgement
763562,005174110,LE,ENR,AK,0245029,O,2007-01-24,Letters,Enrollment,Acknowledgement
763563,005174111,LE,ENR,CT,0245029,O,2007-01-24,Letters,Enrollment,CTS-item
763564,005174752,LE,INF,RI,0245032,O,2007-01-24,Letters,information about Plan,Request for information
763565,005175328,LE,ENR,AK,0245046,O,2007-01-25,Letters,Enrollment,Acknowledgement
763566,005175329,LE,ENR,CT,0245046,O,2007-01-25,Letters,Enrollment,CTS-item
763567,005175501,LE,ENR,AK,0245048,O,2007-01-25,Letters,Enrollment,Acknowledgement
763568,005175502,LE,ENR,CT,0245048,O,2007-01-25,Letters,Enrollment,CTS-item

In [781]:
## Firstly we would set up the data into different time windows
##   Start of dependent window = 01 January 2006
##   End of dependent window = 31 December 2006
##   End of independent window = 03 December 2005

In [782]:
start_dw=np.datetime64('2006-01-01')

In [783]:
end_dw=np.datetime64('2006-12-31')

In [784]:
end_iw=np.datetime64('2005-12-03')

In [785]:
ext_data[ext_data["EXRELACTDE"]=='CommitmentDo']

,EXTRELNO,EXRELACTCD,EXTRELSTDT,EXRELDATEN,EXRELACTDE,NAME1TITLE,POSTCODE,LANGUACODE
1,0026419,FP,1992-03-01,NaT,CommitmentDo,HM,2600,NL
2,0026424,FP,1992-03-01,1996-12-24,CommitmentDo,MW,1932,NL
3,0026430,FP,1992-03-01,2006-01-31,CommitmentDo,HM,2040,NL
5,0026431,FP,1992-03-01,NaT,CommitmentDo,FA,8520,NL
7,0026443,FP,1992-03-01,NaT,CommitmentDo,HM,1652,NL
8,0026444,FP,1992-03-01,NaT,CommitmentDo,MW,3001,NL
9,0026446,FP,1992-03-01,NaT,CommitmentDo,MW,2850,NL
10,0026447,FP,1992-03-01,NaT,CommitmentDo,HM,2860,NL
12,0026462,FP,1992-03-01,2001-10-18,CommitmentDo,HM,5590,FR
13,0026467,FP,1992-03-01,2005-01-06,CommitmentDo,HM,3600,NL
15,0026470,FP,1992-03-01,NaT,CommitmentDo,HR,2600,NL
17,0026472,FP,1992-03-01,NaT,CommitmentDo,HM,3461,NL
18,0026473,FP,1992-03-01,1992-05-31,CommitmentDo,MW,2160,NL
19,0026475,FP,1992-03-01,2002-02-22,CommitmentDo,HM,3150,NL
20,0026481,FP,1992-03-01,2002-11-06,CommitmentDo,HR,2950,NL
21,0026486,FP,1992-03-01,NaT,CommitmentDo,HR,3140,NL
23,0026488,FP,1992-03-01,1992-11-30,CommitmentDo,HR,9300,NL
24,0026489,FP,1992-03-01,2004-03-12,CommitmentDo,MW,9040,NL
25,0026495,FP,1992-03-01,NaT,CommitmentDo,HR,8511,NL
27,0026498,FP,1992-03-01,NaT,CommitmentDo,HM,2980,NL
28,0026501,FP,1992-03-01,NaT,CommitmentDo,HR,8210,NL
30,0026504,FP,1992-03-01,NaT,CommitmentDo,HM,2340,NL
31,0026506,FP,1992-03-01,2004-10-14,CommitmentDo,HR,1880,NL
34,0026512,FP,1992-03-01,1993-06-30,CommitmentDo,MW,1853,NL
35,0026518,FP,1992-03-01,NaT,CommitmentDo,HM,8670,NL
36,0026521,FP,1992-03-01,NaT,CommitmentDo,HR,8570,NL
37,0026522,FP,1992-03-01,NaT,CommitmentDo,HM,9340,NL
38,0026528,FP,1992-03-01,NaT,CommitmentDo,HR,9185,NL
39,0026550,FP,1992-03-01,NaT,CommitmentDo,HR,8530,NL
40,0026551,FP,1992-03-01,NaT,CommitmentDo,HM,1180,NL
...,...,...,...,...,...,...,...,...
26631,0244660,FP,2007-01-01,NaT,CommitmentDo,MW,2000,NL
26632,0244665,FP,2007-01-01,NaT,CommitmentDo,FA,2960,NL
26633,0244677,FP,2007-01-01,NaT,CommitmentDo,MW,8900,NL
26634,0244678,FP,2007-01-01,NaT,CommitmentDo,HR,8840,NL
26635,0244687,FP,2007-01-01,NaT,CommitmentDo,FA,8620,NL
26641,0244715,FP,2007-01-01,NaT,CommitmentDo,HM,9988,NL
26643,0244728,FP,2007-01-01,NaT,CommitmentDo,MW,2800,NL
26644,0244730,FP,2007-01-01,NaT,CommitmentDo,JU,2018,NL
26647,0244735,FP,2007-01-01,NaT,CommitmentDo,MW,2220,NL
26658,0244808,FP,2007-01-01,NaT,CommitmentDo,HM,1030,NL
26659,0244827,FP,2007-01-01,NaT,CommitmentDo,MW,2660,NL
26660,0244830,FP,2007-01-01,NaT,CommitmentDo,MW,8510,NL
26661,0244834,FP,2007-01-01,NaT,CommitmentDo,HR,9280,NL
26662,0244839,FP,2007-01-01,NaT,CommitmentDo,MW,9000,NL
26663,0244851,FP,2007-01-01,NaT,CommitmentDo,HM,8370,NL
26664,0244853,FP,2007-01-01,NaT,CommitmentDo,FA,9881,NL
26665,0244871,FP,2007-01-01,NaT,CommitmentDo,MW,1030,FR
26666,0244874,FP,2007-01-01,NaT,CommitmentDo,MW,5000,FR
26667,0244875,FP,2007-01-01,NaT,CommitmentDo,HM,9052,NL
26669,0244885,FP,2007-01-01,NaT,CommitmentDo,HR,2018,NL
26670,0244901,FP,2007-01-01,NaT,CommitmentDo,HR,2060,NL
26671,0244909,FP,2007-01-01,NaT,CommitmentDo,HM,3600,NL
26673,0244925,FP,2007-01-01,NaT,CommitmentDo,HR,9120,NL
26678,0244995,FP,2007-02-01,NaT,CommitmentDo,NaN,3900,NL
26681,0245012,FP,2007-02-01,NaT,CommitmentDo,FA,9000,NL
26682,0245020,FP,2007-02-01,NaT,CommitmentDo,MW,1050,NL
26683,0245021,FP,2007-02-01,NaT,CommitmentDo,HM,3190,NL
26685,0245029,FP,2007-02-01,NaT,CommitmentDo,MW,9810,NL
26687,0245046,FP,2007-02-01,NaT,CommitmentDo,FA,9470,NL
26688,0245048,FP,2007-02-01,NaT,CommitmentDo,MW,8700,NL

In [786]:
active=ext_data[ (ext_data['EXRELACTCD']=='FP') & (ext_data['EXTRELSTDT']<end_iw) & (~(ext_data['EXRELDATEN']<start_dw)) ]

In [787]:
active

,EXTRELNO,EXRELACTCD,EXTRELSTDT,EXRELDATEN,EXRELACTDE,NAME1TITLE,POSTCODE,LANGUACODE
1,0026419,FP,1992-03-01,NaT,CommitmentDo,HM,2600,NL
3,0026430,FP,1992-03-01,2006-01-31,CommitmentDo,HM,2040,NL
5,0026431,FP,1992-03-01,NaT,CommitmentDo,FA,8520,NL
7,0026443,FP,1992-03-01,NaT,CommitmentDo,HM,1652,NL
8,0026444,FP,1992-03-01,NaT,CommitmentDo,MW,3001,NL
9,0026446,FP,1992-03-01,NaT,CommitmentDo,MW,2850,NL
10,0026447,FP,1992-03-01,NaT,CommitmentDo,HM,2860,NL
15,0026470,FP,1992-03-01,NaT,CommitmentDo,HR,2600,NL
17,0026472,FP,1992-03-01,NaT,CommitmentDo,HM,3461,NL
21,0026486,FP,1992-03-01,NaT,CommitmentDo,HR,3140,NL
25,0026495,FP,1992-03-01,NaT,CommitmentDo,HR,8511,NL
27,0026498,FP,1992-03-01,NaT,CommitmentDo,HM,2980,NL
28,0026501,FP,1992-03-01,NaT,CommitmentDo,HR,8210,NL
30,0026504,FP,1992-03-01,NaT,CommitmentDo,HM,2340,NL
35,0026518,FP,1992-03-01,NaT,CommitmentDo,HM,8670,NL
36,0026521,FP,1992-03-01,NaT,CommitmentDo,HR,8570,NL
37,0026522,FP,1992-03-01,NaT,CommitmentDo,HM,9340,NL
38,0026528,FP,1992-03-01,NaT,CommitmentDo,HR,9185,NL
39,0026550,FP,1992-03-01,NaT,CommitmentDo,HR,8530,NL
40,0026551,FP,1992-03-01,NaT,CommitmentDo,HM,1180,NL
43,0026560,FP,1992-03-01,NaT,CommitmentDo,MW,3540,NL
46,0026572,FP,1992-03-01,NaT,CommitmentDo,HM,1852,NL
49,0026576,FP,1992-03-01,NaT,CommitmentDo,HR,8301,NL
58,0026600,FP,1992-03-01,NaT,CommitmentDo,HM,2930,NL
60,0026605,FP,1992-03-01,NaT,CommitmentDo,MW,3000,NL
61,0026606,FP,1992-03-01,NaT,CommitmentDo,HR,9470,NL
64,0026618,FP,1992-03-01,NaT,CommitmentDo,HM,2240,NL
66,0026631,FP,1992-03-01,NaT,CommitmentDo,HR,2540,NL
67,0026632,FP,1992-03-01,NaT,CommitmentDo,MW,2170,NL
72,0026655,FP,1992-04-01,NaT,CommitmentDo,HR,2400,NL
...,...,...,...,...,...,...,...,...
25944,0240685,FP,2005-12-01,2006-05-16,CommitmentDo,MW,3530,NL
25945,0240686,FP,2005-12-01,NaT,CommitmentDo,HM,3700,NL
25946,0240689,FP,2005-12-01,NaT,CommitmentDo,FA,9030,NL
25947,0240696,FP,2005-12-01,NaT,CommitmentDo,HR,6690,FR
25948,0240698,FP,2005-12-01,NaT,CommitmentDo,HM,8400,NL
25952,0240752,FP,2005-12-01,NaT,CommitmentDo,HM,9890,NL
25956,0240768,FP,2005-12-01,NaT,CommitmentDo,HR,2018,NL
25958,0240777,FP,2005-12-01,NaT,CommitmentDo,MW,1853,NL
25959,0240778,FP,2005-12-01,NaT,CommitmentDo,HM,2830,NL
25962,0240799,FP,2005-12-01,NaT,CommitmentDo,MW,2610,NL
25963,0240800,FP,2005-12-01,NaT,CommitmentDo,HM,2940,NL
25964,0240801,FP,2005-12-01,NaT,CommitmentDo,HM,3300,NL
25965,0240808,FP,2005-12-01,NaT,CommitmentDo,HM,1980,NL
25966,0240809,FP,2005-12-01,NaT,CommitmentDo,MW,8810,NL
25967,0240812,FP,2005-12-01,NaT,CommitmentDo,HR,5170,FR
25968,0240815,FP,2005-12-01,2006-05-16,CommitmentDo,MW,8670,NL
25969,0240817,FP,2005-12-01,2006-05-16,CommitmentDo,HR,8800,NL
25971,0240865,FP,2005-12-01,NaT,CommitmentDo,MW,2580,NL
25973,0240867,FP,2005-12-01,2006-09-28,CommitmentDo,HR,2390,NL
25974,0240870,FP,2005-12-01,2006-04-04,CommitmentDo,HR,1800,NL
25975,0240878,FP,2005-12-01,NaT,CommitmentDo,HR,8310,NL
25976,0240879,FP,2005-12-01,2006-05-16,CommitmentDo,HR,3000,NL
25979,0240890,FP,2005-12-01,NaT,CommitmentDo,HR,8740,NL
25981,0240903,FP,2005-12-01,2006-05-16,CommitmentDo,MW,3078,NL
25983,0240910,FP,2005-12-01,NaT,CommitmentDo,HM,3570,NL
25984,0240915,FP,2005-12-01,NaT,CommitmentDo,HM,1840,NL
25985,0240916,FP,2005-12-01,NaT,CommitmentDo,HM,2140,NL
25986,0240920,FP,2005-12-01,NaT,CommitmentDo,HM,9600,NL
25990,0240936,FP,2005-12-01,NaT,CommitmentDo,FA,3140,NL
25991,0240937,FP,2005-12-01,NaT,CommitmentDo,MW,2950,NL

In [ ]:
# Creating Independent variables

In [788]:
rf= payhistory.groupby('EXTRELNO').agg({'PDATE': lambda x: (datetime.datetime.today() - x.max()).days,
                                            'PID': lambda x: len(x)})

In [789]:
rf

          PDATE    PID
EXTRELNO
0000019    9662    1.0
0000020    4897  158.0
0000035    4897  155.0
0000042    7082   85.0
0000043    6180  229.0
0000060    7495   76.0
0000072    4965   59.0
0000081    4937  171.0
0000089    4897  157.0
0000091    6117  117.0
0000093    9662    1.0
0000100    4897  160.0
0000104    9662    1.0
0000105    4965   54.0
0000109    4987   37.0
0000113    5380   53.0
0000114    4923   23.0
0000115    4897  156.0
0000120    8069   15.0
0000131    4965   57.0
0000133    9662    2.0
0000137    9662    3.0
0000148    8828   11.0
0000149    9662    5.0
0000156    6570  111.0
0000157    8382   48.0
0000159    4897  156.0
0000165    4897  310.0
0000169    4897  155.0
0000174    4897  157.0
...         ...    ...
0244460    4904    1.0
0244461    4917    1.0
0244468    4898    1.0
0244486    4911    1.0
0244514    4897    1.0
0244523    4897    1.0
0244530    4912    1.0
0244532    4897    1.0
0244537    4905    1.0
0244548    4891    1.0
0244569    4912    1.0
0244577    4903    1.0
0244585    4905    1.0
0244586    4916    1.0
0244589    4906    1.0
0244625    4910    1.0
0244631    4909    1.0
0244632    4902    1.0
0244638    4916    1.0
0244646    4899    1.0
0244660    4898    1.0
0244677    4912    1.0
0244678    4906    1.0
0244715    4906    1.0
0244728    4912    1.0
0244735    4896    1.0
0244827    4898    1.0
0244830    4902    1.0
0244853    4896    1.0
0244875    4899    1.0

[16308 rows x 2 columns]

In [790]:
td_cust=payhistory["PAMT"].groupby(payhistory["EXTRELNO"]).sum()
td_cust=pd.DataFrame(td_cust)

In [791]:
td_cust

             PAMT
EXTRELNO
0000019      9.57
0000020   3176.97
0000035   3168.40
0000042   1543.03
0000043   4373.24
0000060   1333.33
0000072   3111.06
0000081   9308.71
0000089   3153.47
0000091   2288.56
0000093     27.21
0000100   3158.50
0000104     13.61
0000105   3129.90
0000109   3161.13
0000113   2846.38
0000114   3378.34
0000115   3176.47
0000120   1037.19
0000131   3122.32
0000133     34.76
0000137     84.15
0000148    529.00
0000149    134.05
0000156   1868.22
0000157    707.97
0000159   3156.64
0000165   6283.44
0000169   3169.40
0000174   3153.97
...           ...
0244460     30.00
0244461     30.00
0244468     25.00
0244486     25.00
0244514     25.00
0244523     25.00
0244530     30.00
0244532    300.00
0244537     25.00
0244548     25.00
0244569     30.00
0244577     30.00
0244585     25.00
0244586     25.00
0244589     25.00
0244625     25.00
0244631     25.00
0244632     30.00
0244638     25.00
0244646     25.00
0244660    300.00
0244677     25.00
0244678     25.00
0244715     25.00
0244728     30.00
0244735     25.00
0244827     30.00
0244830     25.00
0244853     25.00
0244875     27.00

[16308 rows x 1 columns]

In [792]:
ad_cust=payhistory["PAMT"].groupby(payhistory["EXTRELNO"]).mean()
ad_cust=pd.DataFrame(ad_cust)

In [793]:
ad_cust

                PAMT
EXTRELNO
0000019     9.570000
0000020    20.107405
0000035    20.441290
0000042    18.153294
0000043    19.097118
0000060    17.543816
0000072    52.729831
0000081    54.436901
0000089    20.085796
0000091    19.560342
0000093    27.210000
0000100    19.740625
0000104    13.610000
0000105    57.961111
0000109    85.435946
0000113    53.705283
0000114   146.884348
0000115    20.361987
0000120    69.146000
0000131    54.777544
0000133    17.380000
0000137    28.050000
0000148    48.090909
0000149    26.810000
0000156    16.830811
0000157    14.749375
0000159    20.234872
0000165    20.269161
0000169    20.447742
0000174    20.088981
...              ...
0244460    30.000000
0244461    30.000000
0244468    25.000000
0244486    25.000000
0244514    25.000000
0244523    25.000000
0244530    30.000000
0244532   300.000000
0244537    25.000000
0244548    25.000000
0244569    30.000000
0244577    30.000000
0244585    25.000000
0244586    25.000000
0244589    25.000000
0244625    25.000000
0244631    25.000000
0244632    30.000000
0244638    25.000000
0244646    25.000000
0244660   300.000000
0244677    25.000000
0244678    25.000000
0244715    25.000000
0244728    30.000000
0244735    25.000000
0244827    30.000000
0244830    25.000000
0244853    25.000000
0244875    27.000000

[16308 rows x 1 columns]

In [794]:
l_pay=payhistory["PDATE"].groupby(payhistory["EXTRELNO"]).max()
l_pay=pd.DataFrame(l_pay)

In [795]:
l_pay

              PDATE
EXTRELNO
0000019  1993-12-31
0000020  2007-01-17
0000035  2007-01-17
0000042  2001-01-23
0000043  2003-07-14
0000060  1999-12-07
0000072  2006-11-10
0000081  2006-12-08
0000089  2007-01-17
0000091  2003-09-15
0000093  1993-12-31
0000100  2007-01-17
0000104  1993-12-31
0000105  2006-11-10
0000109  2006-10-19
0000113  2005-09-21
0000114  2006-12-22
0000115  2007-01-17
0000120  1998-05-12
0000131  2006-11-10
0000133  1993-12-31
0000137  1993-12-31
0000148  1996-04-13
0000149  1993-12-31
0000156  2002-06-19
0000157  1997-07-03
0000159  2007-01-17
0000165  2007-01-17
0000169  2007-01-17
0000174  2007-01-17
...             ...
0244460  2007-01-10
0244461  2006-12-28
0244468  2007-01-16
0244486  2007-01-03
0244514  2007-01-17
0244523  2007-01-17
0244530  2007-01-02
0244532  2007-01-17
0244537  2007-01-09
0244548  2007-01-23
0244569  2007-01-02
0244577  2007-01-11
0244585  2007-01-09
0244586  2006-12-29
0244589  2007-01-08
0244625  2007-01-04
0244631  2007-01-05
0244632  2007-01-12
0244638  2006-12-29
0244646  2007-01-15
0244660  2007-01-16
0244677  2007-01-02
0244678  2007-01-08
0244715  2007-01-08
0244728  2007-01-02
0244735  2007-01-18
0244827  2007-01-16
0244830  2007-01-12
0244853  2007-01-18
0244875  2007-01-15

[16308 rows x 1 columns]

In [796]:
l_comm=commu_data.sort_values(ascending=0, by='CONTDATE').groupby(['EXTRELNO']).nth(0)

In [797]:
l_comm=pd.DataFrame(l_comm)
l_comm

,CLASCODE,CLASDESC,CONTDATE,CONTDIREC,CONTID,MEDIUMCODE,MEDIUMDESC,MNTOPCODE,MNTOPDESC
EXTRELNO,,,,,,,,,
0000020,CT,CTS-item,2006-08-10,O,005075715,CI,NaN,CTS,Communication Tracking System
0000035,CT,CTS-item,2006-10-03,O,005100553,CI,NaN,CTS,Communication Tracking System
0000042,RI,Request for information,2001-03-29,I,003271241,LE,Letters,DIS,Discontinuations
0000043,ID,Information delivery,2004-01-23,O,004373421,LE,Letters,TAX,Tax forms
0000060,ID,Information delivery,2000-02-12,O,002782523,LE,Letters,TAX,Tax forms
0000072,CT,CTS-item,2006-10-05,O,005103306,CI,NaN,CTS,Communication Tracking System
0000081,CT,CTS-item,2006-12-26,O,005155686,CI,NaN,CTS,Communication Tracking System
0000089,CT,CTS-item,2006-10-31,O,005118172,CI,NaN,CTS,Communication Tracking System
0000091,ID,Information delivery,2004-01-23,O,004373438,LE,Letters,TAX,Tax forms
0000100,CT,CTS-item,2006-07-28,O,005063408,CI,NaN,CTS,Communication Tracking System
0000105,CT,CTS-item,2006-03-16,O,004979361,CI,NaN,CTS,Communication Tracking System
0000109,CT,CTS-item,2007-01-19,O,005170504,CI,NaN,CTS,Communication Tracking System
0000113,AN,Answer,2006-05-16,O,005010790,LE,Letters,DIS,Discontinuations
0000114,CT,CTS-item,2006-11-08,O,005125617,CI,NaN,CTS,Communication Tracking System
0000115,CT,CTS-item,2006-09-28,O,005097689,CI,NaN,CTS,Communication Tracking System
0000120,RI,Request for information,1999-07-22,O,002590768,FF,Face to Face contact,DIS,Discontinuations
0000131,CT,CTS-item,2006-10-16,O,005108362,CI,NaN,CTS,Communication Tracking System
0000148,AN,Answer,1997-04-30,O,001789980,LE,Letters,TAX,Tax forms
0000156,ID,Information delivery,2003-02-01,O,004019584,LE,Letters,TAX,Tax forms
0000157,ID,Information delivery,1998-03-24,O,002114184,LE,Letters,TAX,Tax forms
0000159,CT,CTS-item,2006-10-02,O,005099919,CI,NaN,CTS,Communication Tracking System
0000165,CT,CTS-item,2006-11-20,O,005130953,CI,NaN,CTS,Communication Tracking System
0000169,CT,CTS-item,2006-07-19,O,005057606,CI,NaN,CTS,Communication Tracking System
0000174,CT,CTS-item,2006-10-20,O,005111402,CI,NaN,CTS,Communication Tracking System
0000188,CT,CTS-item,2006-10-18,O,005110108,CI,NaN,CTS,Communication Tracking System
0000199,CT,CTS-item,2007-01-24,O,005174957,CI,NaN,CTS,Communication Tracking System
0000202,CT,CTS-item,2007-01-10,O,005164024,CI,NaN,CTS,Communication Tracking System
0000203,CT,CTS-item,2006-11-06,O,005124778,CI,NaN,CTS,Communication Tracking System
0000208,ID,Information delivery,2006-03-09,O,004935721,LE,Letters,TAX,Tax forms
0000210,CT,CTS-item,2007-01-23,O,005173093,CI,NaN,CTS,Communication Tracking System
...,...,...,...,...,...,...,...,...,...
0244800,RI,Request for information,2007-01-08,O,005162851,LE,Letters,INF,information about Plan
0244802,RI,Request for information,2007-01-08,O,005162853,LE,Letters,INF,information about Plan
0244808,AK,Acknowledgement,2007-01-23,O,005173042,LE,Letters,VOL,Volunteers
0244827,CT,CTS-item,2007-01-08,O,005162947,LE,Letters,ENR,Enrollment
0244830,AK,Acknowledgement,2007-01-08,O,005162959,LE,Letters,ENR,Enrollment
0244834,CT,CTS-item,2007-01-08,O,005163022,LE,Letters,ENR,Enrollment
0244839,CT,CTS-item,2007-01-08,O,005163048,LE,Letters,ENR,Enrollment
0244851,ID,Information delivery,2007-01-17,O,005169397,LE,Letters,VOL,Volunteers
0244853,AK,Acknowledgement,2007-01-08,O,005163128,LE,Letters,ENR,Enrollment
0244871,AK,Acknowledgement,2007-01-08,O,005163325,LE,Letters,ENR,Enrollment
0244874,AK,Acknowledgement,2007-01-18,I,005169795,EM,Electronic Mail,FIN,Finance
0244875,AK,Acknowledgement,2007-01-08,O,005163354,LE,Letters,ENR,Enrollment
0244880,AK,Acknowledgement,2007-01-10,O,005165560,LE,Letters,PRO,Projects
0244885,CT,CTS-item,2007-01-09,O,005163671,LE,Letters,ENR,Enrollment
0244901,CT,CTS-item,2007-01-11,O,005165688,LE,Letters,ENR,Enrollment
0244909,AK,Acknowledgement,2007-01-11,O,005165681,LE,Letters,ENR,Enrollment
0244925,CT,CTS-item,2007-01-12,O,005167202,LE,Letters,ENR,Enrollment
0244926,RI,Request for information,2007-01-16,O,005167990,FF,Face to Face contact,PRO,Projects
0244958,RI,Request for information,2007-01-17,O,005169213,LE,Letters,INF,information about Plan
0244965,AN,Answer,2007-01-17,O,005169368,LE,Letters,INF,information about Plan
0244995,AK,Acknowledgement,2007-01-19,O,005170905,LE,Letters,ENR,Enrollment
0245006,RI,Request for information,2007-01-22,O,005171235,LE,Letters,INF,information about Plan
0245012,AK,Acknowledgement,2007-01-22,O,005172346,LE,Letters,ENR,Enrollment
0245020,AN,Answer,2007-01-23,O,005172936,LE,Letters,ENR,Enrollment
0245021,AN,Answer,2007-01-23,O,005173813,LE,Letters,ENR,Enrollment
0245025,AK,Acknowledgement,2007-01-24,O,005174631,LE,Letters,PRO,Projects
0245029,AK,Acknowledgement,2007-01-24,O,005174110,LE,Letters,ENR,Enrollment
0245032,RI,Request for information,2007-01-24,O,005174752,LE,Letters,INF,information about Plan
0245046,CT,CTS-item,2007-01-25,O,005175329,LE,Letters,ENR,Enrollment
0245048,CT,CTS-item,2007-01-25,O,005175502,LE,Letters,ENR,Enrollment

In [798]:
new=pd.concat([rf,td_cust,ad_cust,l_pay,l_comm],axis=1)
new

,PDATE,PID,PAMT,PAMT,PDATE,CLASCODE,CLASDESC,CONTDATE,CONTDIREC,CONTID,MEDIUMCODE,MEDIUMDESC,MNTOPCODE,MNTOPDESC
0000019,9662.0,1.0,9.57,9.570000,1993-12-31,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
0000020,4897.0,158.0,3176.97,20.107405,2007-01-17,CT,CTS-item,2006-08-10,O,005075715,CI,NaN,CTS,Communication Tracking System
0000035,4897.0,155.0,3168.40,20.441290,2007-01-17,CT,CTS-item,2006-10-03,O,005100553,CI,NaN,CTS,Communication Tracking System
0000042,7082.0,85.0,1543.03,18.153294,2001-01-23,RI,Request for information,2001-03-29,I,003271241,LE,Letters,DIS,Discontinuations
0000043,6180.0,229.0,4373.24,19.097118,2003-07-14,ID,Information delivery,2004-01-23,O,004373421,LE,Letters,TAX,Tax forms
0000060,7495.0,76.0,1333.33,17.543816,1999-12-07,ID,Information delivery,2000-02-12,O,002782523,LE,Letters,TAX,Tax forms
0000072,4965.0,59.0,3111.06,52.729831,2006-11-10,CT,CTS-item,2006-10-05,O,005103306,CI,NaN,CTS,Communication Tracking System
0000081,4937.0,171.0,9308.71,54.436901,2006-12-08,CT,CTS-item,2006-12-26,O,005155686,CI,NaN,CTS,Communication Tracking System
0000089,4897.0,157.0,3153.47,20.085796,2007-01-17,CT,CTS-item,2006-10-31,O,005118172,CI,NaN,CTS,Communication Tracking System
0000091,6117.0,117.0,2288.56,19.560342,2003-09-15,ID,Information delivery,2004-01-23,O,004373438,LE,Letters,TAX,Tax forms
0000093,9662.0,1.0,27.21,27.210000,1993-12-31,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
0000100,4897.0,160.0,3158.50,19.740625,2007-01-17,CT,CTS-item,2006-07-28,O,005063408,CI,NaN,CTS,Communication Tracking System
0000104,9662.0,1.0,13.61,13.610000,1993-12-31,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
0000105,4965.0,54.0,3129.90,57.961111,2006-11-10,CT,CTS-item,2006-03-16,O,004979361,CI,NaN,CTS,Communication Tracking System
0000109,4987.0,37.0,3161.13,85.435946,2006-10-19,CT,CTS-item,2007-01-19,O,005170504,CI,NaN,CTS,Communication Tracking System
0000113,5380.0,53.0,2846.38,53.705283,2005-09-21,AN,Answer,2006-05-16,O,005010790,LE,Letters,DIS,Discontinuations
0000114,4923.0,23.0,3378.34,146.884348,2006-12-22,CT,CTS-item,2006-11-08,O,005125617,CI,NaN,CTS,Communication Tracking System
0000115,4897.0,156.0,3176.47,20.361987,2007-01-17,CT,CTS-item,2006-09-28,O,005097689,CI,NaN,CTS,Communication Tracking System
0000120,8069.0,15.0,1037.19,69.146000,1998-05-12,RI,Request for information,1999-07-22,O,002590768,FF,Face to Face contact,DIS,Discontinuations
0000131,4965.0,57.0,3122.32,54.777544,2006-11-10,CT,CTS-item,2006-10-16,O,005108362,CI,NaN,CTS,Communication Tracking System
0000133,9662.0,2.0,34.76,17.380000,1993-12-31,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
0000137,9662.0,3.0,84.15,28.050000,1993-12-31,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
0000148,8828.0,11.0,529.00,48.090909,1996-04-13,AN,Answer,1997-04-30,O,001789980,LE,Letters,TAX,Tax forms
0000149,9662.0,5.0,134.05,26.810000,1993-12-31,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
0000156,6570.0,111.0,1868.22,16.830811,2002-06-19,ID,Information delivery,2003-02-01,O,004019584,LE,Letters,TAX,Tax forms
0000157,8382.0,48.0,707.97,14.749375,1997-07-03,ID,Information delivery,1998-03-24,O,002114184,LE,Letters,TAX,Tax forms
0000159,4897.0,156.0,3156.64,20.234872,2007-01-17,CT,CTS-item,2006-10-02,O,005099919,CI,NaN,CTS,Communication Tracking System
0000165,4897.0,310.0,6283.44,20.269161,2007-01-17,CT,CTS-item,2006-11-20,O,005130953,CI,NaN,CTS,Communication Tracking System
0000169,4897.0,155.0,3169.40,20.447742,2007-01-17,CT,CTS-item,2006-07-19,O,005057606,CI,NaN,CTS,Communication Tracking System
0000174,4897.0,157.0,3153.97,20.088981,2007-01-17,CT,CTS-item,2006-10-20,O,005111402,CI,NaN,CTS,Communication Tracking System
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0244800,NaN,NaN,NaN,NaN,NaT,RI,Request for information,2007-01-08,O,005162851,LE,Letters,INF,information about Plan
0244802,NaN,NaN,NaN,NaN,NaT,RI,Request for information,2007-01-08,O,005162853,LE,Letters,INF,information about Plan
0244808,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-23,O,005173042,LE,Letters,VOL,Volunteers
0244827,4898.0,1.0,30.00,30.000000,2007-01-16,CT,CTS-item,2007-01-08,O,005162947,LE,Letters,ENR,Enrollment
0244830,4902.0,1.0,25.00,25.000000,2007-01-12,AK,Acknowledgement,2007-01-08,O,005162959,LE,Letters,ENR,Enrollment
0244834,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-08,O,005163022,LE,Letters,ENR,Enrollment
0244839,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-08,O,005163048,LE,Letters,ENR,Enrollment
0244851,NaN,NaN,NaN,NaN,NaT,ID,Information delivery,2007-01-17,O,005169397,LE,Letters,VOL,Volunteers
0244853,4896.0,1.0,25.00,25.000000,2007-01-18,AK,Acknowledgement,2007-01-08,O,005163128,LE,Letters,ENR,Enrollment
0244871,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-08,O,005163325,LE,Letters,ENR,Enrollment
0244874,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-18,I,005169795,EM,Electronic Mail,FIN,Finance
0244875,4899.0,1.0,27.00,27.000000,2007-01-15,AK,Acknowledgement,2007-01-08,O,005163354,LE,Letters,ENR,Enrollment
0244880,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-10,O,005165560,LE,Letters,PRO,Projects
0244885,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-09,O,005163671,LE,Letters,ENR,Enrollment
0244901,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-11,O,005165688,LE,Letters,ENR,Enrollment
0244909,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-11,O,005165681,LE,Letters,ENR,Enrollment
0244925,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-12,O,005167202,LE,Letters,ENR,Enrollment
0244926,NaN,NaN,NaN,NaN,NaT,RI,Request for information,2007-01-16,O,005167990,FF,Face to Face contact,PRO,Projects
0244958,NaN,NaN,NaN,NaN,NaT,RI,Request for information,2007-01-17,O,005169213,LE,Letters,INF,information about Plan
0244965,NaN,NaN,NaN,NaN,NaT,AN,Answer,2007-01-17,O,005169368,LE,Letters,INF,information about Plan
0244995,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-19,O,005170905,LE,Letters,ENR,Enrollment
0245006,NaN,NaN,NaN,NaN,NaT,RI,Request for information,2007-01-22,O,005171235,LE,Letters,INF,information about Plan
0245012,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-22,O,005172346,LE,Letters,ENR,Enrollment
0245020,NaN,NaN,NaN,NaN,NaT,AN,Answer,2007-01-23,O,005172936,LE,Letters,ENR,Enrollment
0245021,NaN,NaN,NaN,NaN,NaT,AN,Answer,2007-01-23,O,005173813,LE,Letters,ENR,Enrollment
0245025,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-24,O,005174631,LE,Letters,PRO,Projects
0245029,NaN,NaN,NaN,NaN,NaT,AK,Acknowledgement,2007-01-24,O,005174110,LE,Letters,ENR,Enrollment
0245032,NaN,NaN,NaN,NaN,NaT,RI,Request for information,2007-01-24,O,005174752,LE,Letters,INF,information about Plan
0245046,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-25,O,005175329,LE,Letters,ENR,Enrollment
0245048,NaN,NaN,NaN,NaN,NaT,CT,CTS-item,2007-01-25,O,005175502,LE,Letters,ENR,Enrollment

In [799]:
new=new.drop(["CLASCODE","CLASDESC","CONTDIREC","CONTID","MEDIUMCODE","MEDIUMDESC","MNTOPCODE","MNTOPDESC"],axis=1)
new

          PDATE    PID     PAMT        PAMT      PDATE   CONTDATE
0000019  9662.0    1.0     9.57    9.570000 1993-12-31        NaT
0000020  4897.0  158.0  3176.97   20.107405 2007-01-17 2006-08-10
0000035  4897.0  155.0  3168.40   20.441290 2007-01-17 2006-10-03
0000042  7082.0   85.0  1543.03   18.153294 2001-01-23 2001-03-29
0000043  6180.0  229.0  4373.24   19.097118 2003-07-14 2004-01-23
0000060  7495.0   76.0  1333.33   17.543816 1999-12-07 2000-02-12
0000072  4965.0   59.0  3111.06   52.729831 2006-11-10 2006-10-05
0000081  4937.0  171.0  9308.71   54.436901 2006-12-08 2006-12-26
0000089  4897.0  157.0  3153.47   20.085796 2007-01-17 2006-10-31
0000091  6117.0  117.0  2288.56   19.560342 2003-09-15 2004-01-23
0000093  9662.0    1.0    27.21   27.210000 1993-12-31        NaT
0000100  4897.0  160.0  3158.50   19.740625 2007-01-17 2006-07-28
0000104  9662.0    1.0    13.61   13.610000 1993-12-31        NaT
0000105  4965.0   54.0  3129.90   57.961111 2006-11-10 2006-03-16
0000109  4987.0   37.0  3161.13   85.435946 2006-10-19 2007-01-19
0000113  5380.0   53.0  2846.38   53.705283 2005-09-21 2006-05-16
0000114  4923.0   23.0  3378.34  146.884348 2006-12-22 2006-11-08
0000115  4897.0  156.0  3176.47   20.361987 2007-01-17 2006-09-28
0000120  8069.0   15.0  1037.19   69.146000 1998-05-12 1999-07-22
0000131  4965.0   57.0  3122.32   54.777544 2006-11-10 2006-10-16
0000133  9662.0    2.0    34.76   17.380000 1993-12-31        NaT
0000137  9662.0    3.0    84.15   28.050000 1993-12-31        NaT
0000148  8828.0   11.0   529.00   48.090909 1996-04-13 1997-04-30
0000149  9662.0    5.0   134.05   26.810000 1993-12-31        NaT
0000156  6570.0  111.0  1868.22   16.830811 2002-06-19 2003-02-01
0000157  8382.0   48.0   707.97   14.749375 1997-07-03 1998-03-24
0000159  4897.0  156.0  3156.64   20.234872 2007-01-17 2006-10-02
0000165  4897.0  310.0  6283.44   20.269161 2007-01-17 2006-11-20
0000169  4897.0  155.0  3169.40   20.447742 2007-01-17 2006-07-19
0000174  4897.0  157.0  3153.97   20.088981 2007-01-17 2006-10-20
...         ...    ...      ...         ...        ...        ...
0244800     NaN    NaN      NaN         NaN        NaT 2007-01-08
0244802     NaN    NaN      NaN         NaN        NaT 2007-01-08
0244808     NaN    NaN      NaN         NaN        NaT 2007-01-23
0244827  4898.0    1.0    30.00   30.000000 2007-01-16 2007-01-08
0244830  4902.0    1.0    25.00   25.000000 2007-01-12 2007-01-08
0244834     NaN    NaN      NaN         NaN        NaT 2007-01-08
0244839     NaN    NaN      NaN         NaN        NaT 2007-01-08
0244851     NaN    NaN      NaN         NaN        NaT 2007-01-17
0244853  4896.0    1.0    25.00   25.000000 2007-01-18 2007-01-08
0244871     NaN    NaN      NaN         NaN        NaT 2007-01-08
0244874     NaN    NaN      NaN         NaN        NaT 2007-01-18
0244875  4899.0    1.0    27.00   27.000000 2007-01-15 2007-01-08
0244880     NaN    NaN      NaN         NaN        NaT 2007-01-10
0244885     NaN    NaN      NaN         NaN        NaT 2007-01-09
0244901     NaN    NaN      NaN         NaN        NaT 2007-01-11
0244909     NaN    NaN      NaN         NaN        NaT 2007-01-11
0244925     NaN    NaN      NaN         NaN        NaT 2007-01-12
0244926     NaN    NaN      NaN         NaN        NaT 2007-01-16
0244958     NaN    NaN      NaN         NaN        NaT 2007-01-17
0244965     NaN    NaN      NaN         NaN        NaT 2007-01-17
0244995     NaN    NaN      NaN         NaN        NaT 2007-01-19
0245006     NaN    NaN      NaN         NaN        NaT 2007-01-22
0245012     NaN    NaN      NaN         NaN        NaT 2007-01-22
0245020     NaN    NaN      NaN         NaN        NaT 2007-01-23
0245021     NaN    NaN      NaN         NaN        NaT 2007-01-23
0245025     NaN    NaN      NaN         NaN        NaT 2007-01-24
0245029     NaN    NaN      NaN         NaN        NaT 2007-01-24
0245032     NaN    NaN      NaN         NaN        NaT 2007-01-24
0245046     NaN    NaN      NaN         NaN        NaT 2007-01-25
0245048     NaN    NaN      NaN         NaN        NaT 2007-01-25

[22919 rows x 6 columns]

In [800]:
new.columns=["Recency","Frequency","Total Donation","Average Donation","Last Payment Date","Last Communication Date"]

In [801]:
new

,Recency,Frequency,Total Donation,Average Donation,Last Payment Date,Last Communication Date
0000019,9662.0,1.0,9.57,9.570000,1993-12-31,NaT
0000020,4897.0,158.0,3176.97,20.107405,2007-01-17,2006-08-10
0000035,4897.0,155.0,3168.40,20.441290,2007-01-17,2006-10-03
0000042,7082.0,85.0,1543.03,18.153294,2001-01-23,2001-03-29
0000043,6180.0,229.0,4373.24,19.097118,2003-07-14,2004-01-23
0000060,7495.0,76.0,1333.33,17.543816,1999-12-07,2000-02-12
0000072,4965.0,59.0,3111.06,52.729831,2006-11-10,2006-10-05
0000081,4937.0,171.0,9308.71,54.436901,2006-12-08,2006-12-26
0000089,4897.0,157.0,3153.47,20.085796,2007-01-17,2006-10-31
0000091,6117.0,117.0,2288.56,19.560342,2003-09-15,2004-01-23
0000093,9662.0,1.0,27.21,27.210000,1993-12-31,NaT
0000100,4897.0,160.0,3158.50,19.740625,2007-01-17,2006-07-28
0000104,9662.0,1.0,13.61,13.610000,1993-12-31,NaT
0000105,4965.0,54.0,3129.90,57.961111,2006-11-10,2006-03-16
0000109,4987.0,37.0,3161.13,85.435946,2006-10-19,2007-01-19
0000113,5380.0,53.0,2846.38,53.705283,2005-09-21,2006-05-16
0000114,4923.0,23.0,3378.34,146.884348,2006-12-22,2006-11-08
0000115,4897.0,156.0,3176.47,20.361987,2007-01-17,2006-09-28
0000120,8069.0,15.0,1037.19,69.146000,1998-05-12,1999-07-22
0000131,4965.0,57.0,3122.32,54.777544,2006-11-10,2006-10-16
0000133,9662.0,2.0,34.76,17.380000,1993-12-31,NaT
0000137,9662.0,3.0,84.15,28.050000,1993-12-31,NaT
0000148,8828.0,11.0,529.00,48.090909,1996-04-13,1997-04-30
0000149,9662.0,5.0,134.05,26.810000,1993-12-31,NaT
0000156,6570.0,111.0,1868.22,16.830811,2002-06-19,2003-02-01
0000157,8382.0,48.0,707.97,14.749375,1997-07-03,1998-03-24
0000159,4897.0,156.0,3156.64,20.234872,2007-01-17,2006-10-02
0000165,4897.0,310.0,6283.44,20.269161,2007-01-17,2006-11-20
0000169,4897.0,155.0,3169.40,20.447742,2007-01-17,2006-07-19
0000174,4897.0,157.0,3153.97,20.088981,2007-01-17,2006-10-20
...,...,...,...,...,...,...
0244800,NaN,NaN,NaN,NaN,NaT,2007-01-08
0244802,NaN,NaN,NaN,NaN,NaT,2007-01-08
0244808,NaN,NaN,NaN,NaN,NaT,2007-01-23
0244827,4898.0,1.0,30.00,30.000000,2007-01-16,2007-01-08
0244830,4902.0,1.0,25.00,25.000000,2007-01-12,2007-01-08
0244834,NaN,NaN,NaN,NaN,NaT,2007-01-08
0244839,NaN,NaN,NaN,NaN,NaT,2007-01-08
0244851,NaN,NaN,NaN,NaN,NaT,2007-01-17
0244853,4896.0,1.0,25.00,25.000000,2007-01-18,2007-01-08
0244871,NaN,NaN,NaN,NaN,NaT,2007-01-08
0244874,NaN,NaN,NaN,NaN,NaT,2007-01-18
0244875,4899.0,1.0,27.00,27.000000,2007-01-15,2007-01-08
0244880,NaN,NaN,NaN,NaN,NaT,2007-01-10
0244885,NaN,NaN,NaN,NaN,NaT,2007-01-09
0244901,NaN,NaN,NaN,NaN,NaT,2007-01-11
0244909,NaN,NaN,NaN,NaN,NaT,2007-01-11
0244925,NaN,NaN,NaN,NaN,NaT,2007-01-12
0244926,NaN,NaN,NaN,NaN,NaT,2007-01-16
0244958,NaN,NaN,NaN,NaN,NaT,2007-01-17
0244965,NaN,NaN,NaN,NaN,NaT,2007-01-17
0244995,NaN,NaN,NaN,NaN,NaT,2007-01-19
0245006,NaN,NaN,NaN,NaN,NaT,2007-01-22
0245012,NaN,NaN,NaN,NaN,NaT,2007-01-22
0245020,NaN,NaN,NaN,NaN,NaT,2007-01-23
0245021,NaN,NaN,NaN,NaN,NaT,2007-01-23
0245025,NaN,NaN,NaN,NaN,NaT,2007-01-24
0245029,NaN,NaN,NaN,NaN,NaT,2007-01-24
0245032,NaN,NaN,NaN,NaN,NaT,2007-01-24
0245046,NaN,NaN,NaN,NaN,NaT,2007-01-25
0245048,NaN,NaN,NaN,NaN,NaT,2007-01-25

In [802]:
new["EXTRELNO"]=new.index

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [803]:
## Creating Dependent variable

In [804]:
active['Churn'] =np.where(active['EXRELDATEN'].isnull(), 0, 1)

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [805]:
active["Start year"]=pd.DatetimeIndex(active['EXTRELSTDT']).year

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [806]:
active

,EXTRELNO,EXRELACTCD,EXTRELSTDT,EXRELDATEN,EXRELACTDE,NAME1TITLE,POSTCODE,LANGUACODE,Churn,Start year
1,0026419,FP,1992-03-01,NaT,CommitmentDo,HM,2600,NL,0,1992
3,0026430,FP,1992-03-01,2006-01-31,CommitmentDo,HM,2040,NL,1,1992
5,0026431,FP,1992-03-01,NaT,CommitmentDo,FA,8520,NL,0,1992
7,0026443,FP,1992-03-01,NaT,CommitmentDo,HM,1652,NL,0,1992
8,0026444,FP,1992-03-01,NaT,CommitmentDo,MW,3001,NL,0,1992
9,0026446,FP,1992-03-01,NaT,CommitmentDo,MW,2850,NL,0,1992
10,0026447,FP,1992-03-01,NaT,CommitmentDo,HM,2860,NL,0,1992
15,0026470,FP,1992-03-01,NaT,CommitmentDo,HR,2600,NL,0,1992
17,0026472,FP,1992-03-01,NaT,CommitmentDo,HM,3461,NL,0,1992
21,0026486,FP,1992-03-01,NaT,CommitmentDo,HR,3140,NL,0,1992
25,0026495,FP,1992-03-01,NaT,CommitmentDo,HR,8511,NL,0,1992
27,0026498,FP,1992-03-01,NaT,CommitmentDo,HM,2980,NL,0,1992
28,0026501,FP,1992-03-01,NaT,CommitmentDo,HR,8210,NL,0,1992
30,0026504,FP,1992-03-01,NaT,CommitmentDo,HM,2340,NL,0,1992
35,0026518,FP,1992-03-01,NaT,CommitmentDo,HM,8670,NL,0,1992
36,0026521,FP,1992-03-01,NaT,CommitmentDo,HR,8570,NL,0,1992
37,0026522,FP,1992-03-01,NaT,CommitmentDo,HM,9340,NL,0,1992
38,0026528,FP,1992-03-01,NaT,CommitmentDo,HR,9185,NL,0,1992
39,0026550,FP,1992-03-01,NaT,CommitmentDo,HR,8530,NL,0,1992
40,0026551,FP,1992-03-01,NaT,CommitmentDo,HM,1180,NL,0,1992
43,0026560,FP,1992-03-01,NaT,CommitmentDo,MW,3540,NL,0,1992
46,0026572,FP,1992-03-01,NaT,CommitmentDo,HM,1852,NL,0,1992
49,0026576,FP,1992-03-01,NaT,CommitmentDo,HR,8301,NL,0,1992
58,0026600,FP,1992-03-01,NaT,CommitmentDo,HM,2930,NL,0,1992
60,0026605,FP,1992-03-01,NaT,CommitmentDo,MW,3000,NL,0,1992
61,0026606,FP,1992-03-01,NaT,CommitmentDo,HR,9470,NL,0,1992
64,0026618,FP,1992-03-01,NaT,CommitmentDo,HM,2240,NL,0,1992
66,0026631,FP,1992-03-01,NaT,CommitmentDo,HR,2540,NL,0,1992
67,0026632,FP,1992-03-01,NaT,CommitmentDo,MW,2170,NL,0,1992
72,0026655,FP,1992-04-01,NaT,CommitmentDo,HR,2400,NL,0,1992
...,...,...,...,...,...,...,...,...,...,...
25944,0240685,FP,2005-12-01,2006-05-16,CommitmentDo,MW,3530,NL,1,2005
25945,0240686,FP,2005-12-01,NaT,CommitmentDo,HM,3700,NL,0,2005
25946,0240689,FP,2005-12-01,NaT,CommitmentDo,FA,9030,NL,0,2005
25947,0240696,FP,2005-12-01,NaT,CommitmentDo,HR,6690,FR,0,2005
25948,0240698,FP,2005-12-01,NaT,CommitmentDo,HM,8400,NL,0,2005
25952,0240752,FP,2005-12-01,NaT,CommitmentDo,HM,9890,NL,0,2005
25956,0240768,FP,2005-12-01,NaT,CommitmentDo,HR,2018,NL,0,2005
25958,0240777,FP,2005-12-01,NaT,CommitmentDo,MW,1853,NL,0,2005
25959,0240778,FP,2005-12-01,NaT,CommitmentDo,HM,2830,NL,0,2005
25962,0240799,FP,2005-12-01,NaT,CommitmentDo,MW,2610,NL,0,2005
25963,0240800,FP,2005-12-01,NaT,CommitmentDo,HM,2940,NL,0,2005
25964,0240801,FP,2005-12-01,NaT,CommitmentDo,HM,3300,NL,0,2005
25965,0240808,FP,2005-12-01,NaT,CommitmentDo,HM,1980,NL,0,2005
25966,0240809,FP,2005-12-01,NaT,CommitmentDo,MW,8810,NL,0,2005
25967,0240812,FP,2005-12-01,NaT,CommitmentDo,HR,5170,FR,0,2005
25968,0240815,FP,2005-12-01,2006-05-16,CommitmentDo,MW,8670,NL,1,2005
25969,0240817,FP,2005-12-01,2006-05-16,CommitmentDo,HR,8800,NL,1,2005
25971,0240865,FP,2005-12-01,NaT,CommitmentDo,MW,2580,NL,0,2005
25973,0240867,FP,2005-12-01,2006-09-28,CommitmentDo,HR,2390,NL,1,2005
25974,0240870,FP,2005-12-01,2006-04-04,CommitmentDo,HR,1800,NL,1,2005
25975,0240878,FP,2005-12-01,NaT,CommitmentDo,HR,8310,NL,0,2005
25976,0240879,FP,2005-12-01,2006-05-16,CommitmentDo,HR,3000,NL,1,2005
25979,0240890,FP,2005-12-01,NaT,CommitmentDo,HR,8740,NL,0,2005
25981,0240903,FP,2005-12-01,2006-05-16,CommitmentDo,MW,3078,NL,1,2005
25983,0240910,FP,2005-12-01,NaT,CommitmentDo,HM,3570,NL,0,2005
25984,0240915,FP,2005-12-01,NaT,CommitmentDo,HM,1840,NL,0,2005
25985,0240916,FP,2005-12-01,NaT,CommitmentDo,HM,2140,NL,0,2005
25986,0240920,FP,2005-12-01,NaT,CommitmentDo,HM,9600,NL,0,2005
25990,0240936,FP,2005-12-01,NaT,CommitmentDo,FA,3140,NL,0,2005
25991,0240937,FP,2005-12-01,NaT,CommitmentDo,MW,2950,NL,0,2005

In [807]:
basetable=pd.merge(active,new)

In [808]:
## Finding and Treating missing values

In [809]:
miss=basetable[basetable.isna().any(axis=1)]

In [810]:
miss

,EXTRELNO,EXRELACTCD,EXTRELSTDT,EXRELDATEN,EXRELACTDE,NAME1TITLE,POSTCODE,LANGUACODE,Churn,Start year,Recency,Frequency,Total Donation,Average Donation,Last Payment Date,Last Communication Date
0,0026419,FP,1992-03-01,NaT,CommitmentDo,HM,2600,NL,0,1992,4912.0,69.0,3155.05,45.725362,2007-01-02,2006-07-19
2,0026431,FP,1992-03-01,NaT,CommitmentDo,FA,8520,NL,0,1992,5161.0,21.0,3050.61,145.267143,2006-04-28,2006-10-05
3,0026443,FP,1992-03-01,NaT,CommitmentDo,HM,1652,NL,0,1992,4897.0,156.0,3109.62,19.933462,2007-01-17,2006-12-14
4,0026444,FP,1992-03-01,NaT,CommitmentDo,MW,3001,NL,0,1992,4897.0,157.0,3092.47,19.697261,2007-01-17,2006-06-21
5,0026446,FP,1992-03-01,NaT,CommitmentDo,MW,2850,NL,0,1992,4897.0,66.0,3667.54,55.568788,2007-01-17,2006-08-28
6,0026447,FP,1992-03-01,NaT,CommitmentDo,HM,2860,NL,0,1992,4897.0,156.0,3110.13,19.936731,2007-01-17,2006-11-17
7,0026470,FP,1992-03-01,NaT,CommitmentDo,HR,2600,NL,0,1992,4897.0,156.0,2949.13,18.904679,2007-01-17,2007-01-10
8,0026472,FP,1992-03-01,NaT,CommitmentDo,HM,3461,NL,0,1992,5156.0,21.0,3073.64,146.363810,2006-05-03,2006-06-08
9,0026486,FP,1992-03-01,NaT,CommitmentDo,HR,3140,NL,0,1992,4897.0,155.0,3133.13,20.213742,2007-01-17,2006-11-30
10,0026495,FP,1992-03-01,NaT,CommitmentDo,HR,8511,NL,0,1992,4897.0,156.0,3112.80,19.953846,2007-01-17,2006-05-31
11,0026498,FP,1992-03-01,NaT,CommitmentDo,HM,2980,NL,0,1992,4897.0,157.0,3133.13,19.956242,2007-01-17,2006-07-14
12,0026501,FP,1992-03-01,NaT,CommitmentDo,HR,8210,NL,0,1992,4897.0,155.0,3133.13,20.213742,2007-01-17,2006-05-15
13,0026504,FP,1992-03-01,NaT,CommitmentDo,HM,2340,NL,0,1992,4903.0,74.0,3134.72,42.361081,2007-01-11,2006-12-12
14,0026518,FP,1992-03-01,NaT,CommitmentDo,HM,8670,NL,0,1992,4897.0,156.0,3112.80,19.953846,2007-01-17,2007-01-12
15,0026521,FP,1992-03-01,NaT,CommitmentDo,HR,8570,NL,0,1992,4897.0,56.0,3163.07,56.483393,2007-01-17,2006-11-02
16,0026522,FP,1992-03-01,NaT,CommitmentDo,HM,9340,NL,0,1992,5179.0,18.0,3053.27,169.626111,2006-04-10,2006-12-18
17,0026528,FP,1992-03-01,NaT,CommitmentDo,HR,9185,NL,0,1992,4897.0,56.0,3163.08,56.483571,2007-01-17,2007-01-05
18,0026550,FP,1992-03-01,NaT,CommitmentDo,HR,8530,NL,0,1992,4897.0,158.0,3132.11,19.823481,2007-01-17,2006-12-14
19,0026551,FP,1992-03-01,NaT,CommitmentDo,HM,1180,NL,0,1992,4904.0,156.0,3115.10,19.968590,2007-01-10,2006-09-28
20,0026560,FP,1992-03-01,NaT,CommitmentDo,MW,3540,NL,0,1992,4897.0,157.0,3109.12,19.803312,2007-01-17,2006-09-25
21,0026572,FP,1992-03-01,NaT,CommitmentDo,HM,1852,NL,0,1992,4909.0,323.0,6176.49,19.122260,2007-01-05,2006-12-08
22,0026576,FP,1992-03-01,NaT,CommitmentDo,HR,8301,NL,0,1992,4897.0,166.0,2923.20,17.609639,2007-01-17,2006-12-11
23,0026600,FP,1992-03-01,NaT,CommitmentDo,HM,2930,NL,0,1992,4918.0,161.0,3040.13,18.882795,2006-12-27,2006-09-27
24,0026605,FP,1992-03-01,NaT,CommitmentDo,MW,3000,NL,0,1992,4897.0,53.0,3163.07,59.680566,2007-01-17,2007-01-08
25,0026606,FP,1992-03-01,NaT,CommitmentDo,HR,9470,NL,0,1992,4897.0,71.0,3033.29,42.722394,2007-01-17,2006-11-15
26,0026618,FP,1992-03-01,NaT,CommitmentDo,HM,2240,NL,0,1992,4897.0,158.0,3133.11,19.829810,2007-01-17,2006-08-23
27,0026631,FP,1992-03-01,NaT,CommitmentDo,HR,2540,NL,0,1992,4897.0,155.0,3133.13,20.213742,2007-01-17,2006-10-03
28,0026632,FP,1992-03-01,NaT,CommitmentDo,MW,2170,NL,0,1992,4937.0,118.0,3025.00,25.635593,2006-12-08,2007-01-17
29,0026655,FP,1992-04-01,NaT,CommitmentDo,HR,2400,NL,0,1992,5170.0,21.0,3053.28,145.394286,2006-04-19,2006-11-02
31,0026680,FP,2000-01-01,NaT,CommitmentDo,HM,2260,NL,0,2000,4897.0,87.0,1888.99,21.712529,2007-01-17,2006-11-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7149,0240678,FP,2005-12-01,NaT,CommitmentDo,MW,2950,NL,0,2005,4975.0,4.0,276.00,69.000000,2006-10-31,2006-10-30
7150,0240684,FP,2005-12-01,NaT,CommitmentDo,JU,2000,NL,0,2005,4897.0,13.0,324.00,24.923077,2007-01-17,2006-11-24
7151,0240685,FP,2005-12-01,2006-05-16,CommitmentDo,MW,3530,NL,1,2005,NaN,NaN,NaN,NaN,NaT,2006-05-16
7152,0240686,FP,2005-12-01,NaT,CommitmentDo,HM,3700,NL,0,2005,4898.0,14.0,355.00,25.357143,2007-01-16,2006-11-03
7153,0240689,FP,2005-12-01,NaT,CommitmentDo,FA,9030,NL,0,2005,4912.0,13.0,301.00,23.153846,2007-01-02,2006-12-28
7154,0240696,FP,2005-12-01,NaT,CommitmentDo,HR,6690,FR,0,2005,4912.0,14.0,324.00,23.142857,2007-01-02,2007-01-19
7155,0240698,FP,2005-12-01,NaT,CommitmentDo,HM,8400,NL,0,2005,4905.0,11.0,352.00,32.000000,2007-01-09,2006-12-14
7156,0240752,FP,2005-12-01,NaT,CommitmentDo,HM,9890,NL,0,2005,4899.0,14.0,333.00,23.785714,2007-01-15,2006-11-08
7157,0240768,FP,2005-12-01,NaT,CommitmentDo,HR,2018,NL,0,2005,4937.0,6.0,345.00,57.500000,2006-12-08,2006-12-28
7158,0240777,FP,2005-12-01,NaT,CommitmentDo,MW,1853,NL,0,2005,4897.0,13.0,352.00,27.076923,2007-01-17,2006-11-07
7159,0240778,FP,2005-12-01,NaT,CommitmentDo,HM,2830,NL,0,2005,4897.0,14.0,350.00,25.000000,2007-01-17,2006-08-16
7160,0240799,FP,2005-12-01,NaT,CommitmentDo,MW,2610,NL,0,2005,5262.0,2.0,299.00,149.500000,2006-01-17,2006-11-21
7161,0240800,FP,2005-12-01,NaT,CommitmentDo,HM,2940,NL,0,2005,4897.0,13.0,490.00,37.692308,2007-01-17,2007-01-05
7162,0240801,FP,2005-12-01,NaT,CommitmentDo,HM,3300,NL,0,2005,4899.0,12.0,360.00,30.000000,2007-01-15,2006-09-29
7163,0240808,FP,2005-12-01,NaT,CommitmentDo,HM,1980,NL,0,2005,4903.0,14.0,324.00,23.142857,2007-01-11,2006-07-20
7164,0240809,FP,2005-12-01,NaT,CommitmentDo,MW,8810,NL,0,2005,4897.0,14.0,556.00,39.714286,2007-01-17,2006-10-03
7165,0240812,FP,2005-12-01,NaT,CommitmentDo,HR,5170,FR,0,2005,4897.0,13.0,324.00,24.923077,2007-01-17,2006-10-30
7166,0240815,FP,2005-12-01,2006-05-16,CommitmentDo,MW,8670,NL,1,2005,NaN,NaN,NaN,NaN,NaT,2006-05-16
7167,0240817,FP,2005-12-01,2006-05-16,CommitmentDo,HR,8800,NL,1,2005,NaN,NaN,NaN,NaN,NaT,2006-05-16
7168,0240865,FP,2005-12-01,NaT,CommitmentDo,MW,2580,NL,0,2005,4934.0,9.0,276.00,30.666667,2006-12-11,2006-12-01
7171,0240878,FP,2005-12-01,NaT,CommitmentDo,HR,8310,NL,0,2005,4906.0,13.0,390.00,30.000000,2007-01-08,2006-10-31
7172,0240879,FP,2005-12-01,2006-05-16,CommitmentDo,HR,3000,NL,1,2005,NaN,NaN,NaN,NaN,NaT,2006-05-16
7173,0240890,FP,2005-12-01,NaT,CommitmentDo,HR,8740,NL,0,2005,4897.0,14.0,324.00,23.142857,2007-01-17,2006-11-30
7174,0240903,FP,2005-12-01,2006-05-16,CommitmentDo,MW,3078,NL,1,2005,NaN,NaN,NaN,NaN,NaT,2006-05-16
7175,0240910,FP,2005-12-01,NaT,CommitmentDo,HM,3570,NL,0,2005,4897.0,12.0,324.00,27.000000,2007-01-17,2006-12-28
7176,0240915,FP,2005-12-01,NaT,CommitmentDo,HM,1840,NL,0,2005,4897.0,13.0,350.00,26.923077,2007-01-17,2006-12-18
7177,0240916,FP,2005-12-01,NaT,CommitmentDo,HM,2140,NL,0,2005,4897.0,13.0,350.00,26.923077,2007-01-17,2006-08-24
7178,0240920,FP,2005-12-01,NaT,CommitmentDo,HM,9600,NL,0,2005,4898.0,14.0,420.00,30.000000,2007-01-16,2006-09-07
7179,0240936,FP,2005-12-01,NaT,CommitmentDo,FA,3140,NL,0,2005,4916.0,12.0,600.00,50.000000,2006-12-29,2006-12-08
7180,0240937,FP,2005-12-01,NaT,CommitmentDo,MW,2950,NL,0,2005,4897.0,13.0,420.00,32.307692,2007-01-17,2006-12-05

In [811]:
basetable.isnull().sum()

EXTRELNO                      0
EXRELACTCD                    0
EXTRELSTDT                    0
EXRELDATEN                 6675
EXRELACTDE                    0
NAME1TITLE                  168
POSTCODE                      4
LANGUACODE                    0
Churn                         0
Start year                    0
Recency                      17
Frequency                    17
Total Donation               17
Average Donation             17
Last Payment Date            17
Last Communication Date       0
dtype: int64

In [812]:
drop=["EXRELDATEN","NAME1TITLE","POSTCODE","Last Payment Date","Last Communication Date","EXRELACTCD","EXTRELSTDT",
     "EXRELACTDE"]

In [813]:
basetable.drop(drop,axis=1,inplace=True)

In [814]:
basetable['Recency']=basetable['Recency'].fillna(basetable['Recency'].mean())

In [815]:
basetable['Frequency']=basetable['Frequency'].fillna(basetable['Frequency'].mean())

In [816]:
basetable['Total Donation']=basetable['Total Donation'].fillna(basetable['Total Donation'].mean())

In [817]:
basetable['Average Donation']=basetable['Average Donation'].fillna(basetable['Average Donation'].mean())

In [818]:
basetable.isnull().sum()

EXTRELNO            0
LANGUACODE          0
Churn               0
Start year          0
Recency             0
Frequency           0
Total Donation      0
Average Donation    0
dtype: int64

In [819]:
basetable.set_index('EXTRELNO', inplace=True)

In [ ]:
## Standardizing the data

In [820]:
sc=StandardScaler()

In [821]:
basetable_new=basetable.select_dtypes(include =['int64', 'float64','float32', 'int32'])

In [822]:
b_scale=sc.fit_transform(basetable_new)

In [823]:
basetable_new

,Churn,Start year,Recency,Frequency,Total Donation,Average Donation
EXTRELNO,,,,,,
0026419,0,1992,4912.000000,69.000000,3155.050000,45.725362
0026430,1,1992,5353.000000,146.000000,2786.130000,19.083082
0026431,0,1992,5161.000000,21.000000,3050.610000,145.267143
0026443,0,1992,4897.000000,156.000000,3109.620000,19.933462
0026444,0,1992,4897.000000,157.000000,3092.470000,19.697261
0026446,0,1992,4897.000000,66.000000,3667.540000,55.568788
0026447,0,1992,4897.000000,156.000000,3110.130000,19.936731
0026470,0,1992,4897.000000,156.000000,2949.130000,18.904679
0026472,0,1992,5156.000000,21.000000,3073.640000,146.363810
0026486,0,1992,4897.000000,155.000000,3133.130000,20.213742
0026495,0,1992,4897.000000,156.000000,3112.800000,19.953846
0026498,0,1992,4897.000000,157.000000,3133.130000,19.956242
0026501,0,1992,4897.000000,155.000000,3133.130000,20.213742
0026504,0,1992,4903.000000,74.000000,3134.720000,42.361081
0026518,0,1992,4897.000000,156.000000,3112.800000,19.953846
0026521,0,1992,4897.000000,56.000000,3163.070000,56.483393
0026522,0,1992,5179.000000,18.000000,3053.270000,169.626111
0026528,0,1992,4897.000000,56.000000,3163.080000,56.483571
0026550,0,1992,4897.000000,158.000000,3132.110000,19.823481
0026551,0,1992,4904.000000,156.000000,3115.100000,19.968590
0026560,0,1992,4897.000000,157.000000,3109.120000,19.803312
0026572,0,1992,4909.000000,323.000000,6176.490000,19.122260
0026576,0,1992,4897.000000,166.000000,2923.200000,17.609639
0026600,0,1992,4918.000000,161.000000,3040.130000,18.882795
0026605,0,1992,4897.000000,53.000000,3163.070000,59.680566
0026606,0,1992,4897.000000,71.000000,3033.290000,42.722394
0026618,0,1992,4897.000000,158.000000,3133.110000,19.829810
0026631,0,1992,4897.000000,155.000000,3133.130000,20.213742
0026632,0,1992,4937.000000,118.000000,3025.000000,25.635593
0026655,0,1992,5170.000000,21.000000,3053.280000,145.394286
...,...,...,...,...,...,...
0240685,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240686,0,2005,4898.000000,14.000000,355.000000,25.357143
0240689,0,2005,4912.000000,13.000000,301.000000,23.153846
0240696,0,2005,4912.000000,14.000000,324.000000,23.142857
0240698,0,2005,4905.000000,11.000000,352.000000,32.000000
0240752,0,2005,4899.000000,14.000000,333.000000,23.785714
0240768,0,2005,4937.000000,6.000000,345.000000,57.500000
0240777,0,2005,4897.000000,13.000000,352.000000,27.076923
0240778,0,2005,4897.000000,14.000000,350.000000,25.000000
0240799,0,2005,5262.000000,2.000000,299.000000,149.500000
0240800,0,2005,4897.000000,13.000000,490.000000,37.692308
0240801,0,2005,4899.000000,12.000000,360.000000,30.000000
0240808,0,2005,4903.000000,14.000000,324.000000,23.142857
0240809,0,2005,4897.000000,14.000000,556.000000,39.714286
0240812,0,2005,4897.000000,13.000000,324.000000,24.923077
0240815,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240817,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240865,0,2005,4934.000000,9.000000,276.000000,30.666667
0240867,1,2005,5023.000000,9.000000,230.000000,25.555556
0240870,1,2005,5212.000000,3.000000,75.000000,25.000000
0240878,0,2005,4906.000000,13.000000,390.000000,30.000000
0240879,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240890,0,2005,4897.000000,14.000000,324.000000,23.142857
0240903,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240910,0,2005,4897.000000,12.000000,324.000000,27.000000
0240915,0,2005,4897.000000,13.000000,350.000000,26.923077
0240916,0,2005,4897.000000,13.000000,350.000000,26.923077
0240920,0,2005,4898.000000,14.000000,420.000000,30.000000
0240936,0,2005,4916.000000,12.000000,600.000000,50.000000
0240937,0,2005,4897.000000,13.000000,420.000000,32.307692

In [824]:
var_ratio={}
bc = PCA(n_components=5)
b_pca=bc.fit(b_scale)
var_ratio[""]=sum(b_pca.explained_variance_ratio_)

In [825]:
var_ratio

{'': 0.9799870044657312}

In [826]:
## Here 7 components represent 97% of variance

In [827]:
basetable_new

,Churn,Start year,Recency,Frequency,Total Donation,Average Donation
EXTRELNO,,,,,,
0026419,0,1992,4912.000000,69.000000,3155.050000,45.725362
0026430,1,1992,5353.000000,146.000000,2786.130000,19.083082
0026431,0,1992,5161.000000,21.000000,3050.610000,145.267143
0026443,0,1992,4897.000000,156.000000,3109.620000,19.933462
0026444,0,1992,4897.000000,157.000000,3092.470000,19.697261
0026446,0,1992,4897.000000,66.000000,3667.540000,55.568788
0026447,0,1992,4897.000000,156.000000,3110.130000,19.936731
0026470,0,1992,4897.000000,156.000000,2949.130000,18.904679
0026472,0,1992,5156.000000,21.000000,3073.640000,146.363810
0026486,0,1992,4897.000000,155.000000,3133.130000,20.213742
0026495,0,1992,4897.000000,156.000000,3112.800000,19.953846
0026498,0,1992,4897.000000,157.000000,3133.130000,19.956242
0026501,0,1992,4897.000000,155.000000,3133.130000,20.213742
0026504,0,1992,4903.000000,74.000000,3134.720000,42.361081
0026518,0,1992,4897.000000,156.000000,3112.800000,19.953846
0026521,0,1992,4897.000000,56.000000,3163.070000,56.483393
0026522,0,1992,5179.000000,18.000000,3053.270000,169.626111
0026528,0,1992,4897.000000,56.000000,3163.080000,56.483571
0026550,0,1992,4897.000000,158.000000,3132.110000,19.823481
0026551,0,1992,4904.000000,156.000000,3115.100000,19.968590
0026560,0,1992,4897.000000,157.000000,3109.120000,19.803312
0026572,0,1992,4909.000000,323.000000,6176.490000,19.122260
0026576,0,1992,4897.000000,166.000000,2923.200000,17.609639
0026600,0,1992,4918.000000,161.000000,3040.130000,18.882795
0026605,0,1992,4897.000000,53.000000,3163.070000,59.680566
0026606,0,1992,4897.000000,71.000000,3033.290000,42.722394
0026618,0,1992,4897.000000,158.000000,3133.110000,19.829810
0026631,0,1992,4897.000000,155.000000,3133.130000,20.213742
0026632,0,1992,4937.000000,118.000000,3025.000000,25.635593
0026655,0,1992,5170.000000,21.000000,3053.280000,145.394286
...,...,...,...,...,...,...
0240685,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240686,0,2005,4898.000000,14.000000,355.000000,25.357143
0240689,0,2005,4912.000000,13.000000,301.000000,23.153846
0240696,0,2005,4912.000000,14.000000,324.000000,23.142857
0240698,0,2005,4905.000000,11.000000,352.000000,32.000000
0240752,0,2005,4899.000000,14.000000,333.000000,23.785714
0240768,0,2005,4937.000000,6.000000,345.000000,57.500000
0240777,0,2005,4897.000000,13.000000,352.000000,27.076923
0240778,0,2005,4897.000000,14.000000,350.000000,25.000000
0240799,0,2005,5262.000000,2.000000,299.000000,149.500000
0240800,0,2005,4897.000000,13.000000,490.000000,37.692308
0240801,0,2005,4899.000000,12.000000,360.000000,30.000000
0240808,0,2005,4903.000000,14.000000,324.000000,23.142857
0240809,0,2005,4897.000000,14.000000,556.000000,39.714286
0240812,0,2005,4897.000000,13.000000,324.000000,24.923077
0240815,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240817,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240865,0,2005,4934.000000,9.000000,276.000000,30.666667
0240867,1,2005,5023.000000,9.000000,230.000000,25.555556
0240870,1,2005,5212.000000,3.000000,75.000000,25.000000
0240878,0,2005,4906.000000,13.000000,390.000000,30.000000
0240879,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240890,0,2005,4897.000000,14.000000,324.000000,23.142857
0240903,1,2005,4948.318118,84.018425,2259.477933,43.916170
0240910,0,2005,4897.000000,12.000000,324.000000,27.000000
0240915,0,2005,4897.000000,13.000000,350.000000,26.923077
0240916,0,2005,4897.000000,13.000000,350.000000,26.923077
0240920,0,2005,4898.000000,14.000000,420.000000,30.000000
0240936,0,2005,4916.000000,12.000000,600.000000,50.000000
0240937,0,2005,4897.000000,13.000000,420.000000,32.307692

In [ ]:
## Building Models

In [828]:
## Firstly we will set up the data by dividing it into training, validation and testing set according to the start year of the
## base table

In [829]:
basetable_new["Start year"].min()

1992

In [830]:
basetable_new["Start year"].max()

2005

In [831]:
train=basetable_new[basetable_new["Start year"]<2001]

In [832]:
validation=basetable_new[(basetable_new["Start year"]>=2001) & (basetable_new["Start year"]<2003)]

In [833]:
test=basetable_new[basetable_new["Start year"]>=2003]

In [834]:
x_train = train.drop(['Churn'], axis=1)

In [835]:
y_train = train["Churn"]

In [836]:
x_validation = validation.drop(['Churn'], axis=1)

In [837]:
y_validation = validation["Churn"]

In [838]:
x_test = test.drop(['Churn'], axis=1)

In [839]:
y_test = test["Churn"]

In [840]:
# Logistic Regression

In [841]:
lr=LogisticRegression()

In [842]:
lr.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [843]:
lr_train=accuracy_score(lr.predict(x_train), y_train)*100
lr_train

95.82266009852218

In [844]:
lr_validation=accuracy_score(lr.predict(x_validation), y_validation)*100
lr_validation

95.88313413014609

In [845]:
lr_test=accuracy_score(lr.predict(x_test), y_test)*100
lr_test

93.93939393939394

In [846]:
# Support Vector Machine (SVM)

In [847]:
svm=SVC()

In [848]:
svm.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [849]:
svm_train=accuracy_score(svm.predict(x_train), y_train)*100
svm_train

99.76354679802955

In [850]:
svm_validation=accuracy_score(svm.predict(x_validation), y_validation)*100
svm_validation

92.96148738379813

In [851]:
svm_test=accuracy_score(svm.predict(x_test), y_test)*100
svm_test

90.169992609017

In [852]:
# K-nearest Neighbours (KNN)

In [853]:
knn=KNeighborsClassifier(n_neighbors=5)

In [854]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [855]:
knn_train=accuracy_score(knn.predict(x_train), y_train)*100
knn_train

97.83251231527093

In [856]:
knn_validation=accuracy_score(knn.predict(x_validation), y_validation)*100
knn_validation

93.35989375830013

In [857]:
knn_test=accuracy_score(knn.predict(x_test), y_test)*100
knn_test

55.50628233555063

In [858]:
## Here we used Logistic regression, SVM and KNN models for analysis on the data. Based on their Validation and Test score we  
## would use Logistic regression model for prediction

In [859]:
y_predict=lr.predict(x_test)

In [860]:
y_prob=lr.predict_proba(x_test)

In [861]:
y_prob=pd.DataFrame(y_prob)

In [862]:
y_prob=list(y_prob[1])

In [867]:
final = pd.DataFrame({"Churn": y_predict,"Churn Probability":y_prob,"Start year": test["Start year"]})

In [868]:
final

          Churn  Churn Probability  Start year
EXTRELNO
0027029       0           0.134948        2004
0029468       0           0.016287        2003
0030559       1           0.859630        2004
0032313       0           0.000427        2005
0033178       0           0.076754        2003
0034186       0           0.076090        2005
0037328       1           0.909725        2003
0150970       0           0.056361        2005
0156801       0           0.051175        2004
0157329       1           0.982711        2005
0159890       0           0.110207        2004
0175871       0           0.038882        2005
0176646       0           0.016222        2004
0178831       0           0.023029        2003
0179467       1           0.856185        2005
0179727       0           0.228071        2005
0181108       0           0.054712        2003
0182485       0           0.046887        2005
0183010       0           0.038666        2003
0188499       0           0.044374        2004
0191755       0           0.053908        2005
0194977       1           0.894311        2003
0195550       1           0.723490        2005
0196043       0           0.048908        2004
0197473       0           0.043589        2003
0198339       0           0.160077        2005
0199225       1           0.505446        2005
0203093       0           0.047034        2005
0204440       0           0.000688        2005
0205791       0           0.011307        2004
...         ...                ...         ...
0240685       0           0.033327        2005
0240686       0           0.049293        2005
0240689       0           0.060496        2005
0240696       0           0.060095        2005
0240698       0           0.047221        2005
0240752       0           0.051633        2005
0240768       0           0.043474        2005
0240777       0           0.047315        2005
0240778       0           0.049170        2005
0240799       0           0.272432        2005
0240800       0           0.037276        2005
0240801       0           0.045750        2005
0240808       0           0.054658        2005
0240809       0           0.035064        2005
0240812       0           0.049645        2005
0240815       0           0.033327        2005
0240817       0           0.033327        2005
0240865       0           0.067361        2005
0240867       0           0.178870        2005
0240870       1           0.657058        2005
0240878       0           0.048781        2005
0240879       0           0.033327        2005
0240890       0           0.051295        2005
0240903       0           0.033327        2005
0240910       0           0.047820        2005
0240915       0           0.047478        2005
0240916       0           0.047478        2005
0240920       0           0.044329        2005
0240936       0           0.035357        2005
0240937       0           0.042082        2005

[1353 rows x 3 columns]